# Ignore everything
/*

# Except the relevant folders
!content/
content/*
!content/dota_addons/
content/dota_addons/*
!content/dota_addons/dota_imba/
!scripts/

!game/
game/*
!game/dota_addons/
game/dota_addons/*
!game/dota_addons/dota_imba/

# Cache crap that Valve autogenerates
*.bin
*.cfg
*.soc
*.tmp

# Compiled formats
*.vagrp_c
*.vpcf_c
*.vtex_c
*.vmdl_c
*.vsndevts_c
*.vsnd_c
*.vmat_c
*.vjs_c
*.vxml_c
*.vcss_c

# Map files
*.vpk

# Map overviews
resource/overviews/*

#Github dump
*.stackdump

game/dota_addons/dota_imba/rich_presence_persistent_data\.txt

game/dota_addons/dota_imba/server_log\.txt

#Server Auth Key
game/dota_addons/dota_imba/scripts/vscripts/server/auth.kv

#Stat-Collection Shema Key
game/dota_addons/dota_imba/scripts/vscripts/statcollection/settings.kv

# Roshan
content/dota_addons/dota_imba/models/rosh*
game/dota_addons/dota_imba/models/rosh*

# eclipse
.project
.settings
.DS_Store

scripts/node_modules
scripts/package-lock.json
