game/dota_addons/clash_royale/tools_thumbnail_cache.bin
game/dota_addons/clash_royale/tools_asset_info.bin
game/dota_addons/clash_royale/panorama_debugger.cfg
game/dota_addons/clash_royale/network_measurement.txt
