# Cache crap that Valve autogenerates
*.bin
*.cfg
*.soc
*.tmp

# Compiled formats
*.vmat_c
*.vagrp_c
*.vmesh_c

# Map files

# Map overviews
resource/overviews/*

#Github dump
*.stackdump

game/dota_addons/dota_imba_reborn/scripts/vscripts/components/statcollection/settings.kv
game/dota_addons/dota_imba_reborn/scripts/vscripts/components/api/backend_key.kv

game/dota_addons/dota_imba_reborn/network_measurement\.txt
game/dota_addons/dota_imba_reborn/rich_presence_persistent_data\.txt

game/dota_addons/dota_imba_reborn/server_log\.txt

# Roshan
content/dota_addons/dota_imba/models/rosh*
game/dota_addons/dota_imba/models/rosh*

# eclipse
.project
.settings
.DS_Store
.idea

# Imbathrow
content/dota_addons/dota_imba_reborn/materials/models/courier/*

# Siltbreaker
game/dota_addons/dota_imba_reborn/maps/journey_assets/*
game/dota_addons/dota_imba_reborn/maps/reef_assets/*
game/dota_addons/dota_imba_reborn/maps/scenes/*
game/dota_addons/dota_imba_reborn/maps/tilesets/*
game/dota_addons/dota_imba_reborn/maps/act1_art.vpk
game/dota_addons/dota_imba_reborn/maps/crypt_test.vpk
game/dota_addons/dota_imba_reborn/maps/dune_test.vpk
game/dota_addons/dota_imba_reborn/maps/ep_1.vpk
game/dota_addons/dota_imba_reborn/maps/ep_1_art.vpk
game/dota_addons/dota_imba_reborn/maps/ep_1_art_01.vpk
game/dota_addons/dota_imba_reborn/maps/ep_1_art_01a.vpk
game/dota_addons/dota_imba_reborn/maps/ep_1_art_01b.vpk
game/dota_addons/dota_imba_reborn/maps/ep_1_envonly.vpk
game/dota_addons/dota_imba_reborn/maps/ep_1_gameplay.vpk
game/dota_addons/dota_imba_reborn/maps/ep_1_outline.vpk
game/dota_addons/dota_imba_reborn/maps/ep_1_z.vpk
game/dota_addons/dota_imba_reborn/maps/ep_2.vpk
game/dota_addons/dota_imba_reborn/maps/ep_2_alt.vpk
game/dota_addons/dota_imba_reborn/maps/gate_test.vpk
game/dota_addons/dota_imba_reborn/maps/lightning.vpk
game/dota_addons/dota_imba_reborn/maps/reef_test.vpk
game/dota_addons/dota_imba_reborn/maps/sand_king_test.vpk
game/dota_addons/dota_imba_reborn/maps/snowtest.vpk
game/dota_addons/dota_imba_reborn/maps/stonering.vpk
game/dota_addons/dota_imba_reborn/maps/test_prison.vpk
game/dota_addons/dota_imba_reborn/maps/trap_test.vpk
game/dota_addons/dota_imba_reborn/maps/trap_test_unified.vpk