.Party_1 {
	color: #01df3a;
}

.Party_2 {
	color: #d7df01;
}

.Party_3 {
	color: #df0101;
}

.Party_4 {
	color: #2e2efe;
}

.Party_5 {
	color: #58d3f7;
}

.Party_6 {
	color: #ff8000;
}

.Party_7 {
	color: #00ffff;
}

.Party_8 {
	color: #04b404;
}

.Party_9 {
	color: #bf00ff;
}

.Party_10 {
	color: #088a68;
}

.Party_11 {
	color: #86b404;
}

.Party_12 {
	color: #82fa58;
}

.NoParty {
	color: #d4d4d4;
}
