.PickingPlayer {
	width: 18%;
	height: 100%;
	margin: 0% 2% 0% 0%;
	flow-children: down;
}

.PickingPlayer.right {
	horizontal-align: right;
}

#HeroPanel {
	width: 100%;
	height: 60%;
	background-color: black;
	background-size: 100% 100%;
	border: 1px solid #656565;
}

#PlayerName {
	width: 100%;
	height: 35%;
	margin-top: 5%;
	font-size: 12px;
	font-family: "Radiance";
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}