.PickingPlayer {
	width: 18%;
	height: 100%;
	margin: 0% 2% 0% 0%;
}

#PlayerMMR {
	width: 100%;
	height: 18%;
	margin-bottom: 10%;
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #00000000 ), color-stop( .25, #800000), color-stop( .75, #800000 ), to( #00000000 ) );
	align: center center;
	visibility: collapse;
}

#PlayerMMRLabel {
	font-size: 13px;
	font-family: "Radiance";
	horizontal-align: center;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

#Player {
	width: 100%;
	height: 90%;
	flow-children: down;
}

.PickingPlayer.right {
	horizontal-align: right;
}

#HeroPanel {
	width: 100%;
	height: 60%;
	background-size: 100% 100%;
	border: 1px solid #656565;
}

#PlayerColor {
	width: 100%;
	height: 5%;
}

#PlayerName {
	width: 100%;
	height: 30%;
	margin-top: 5%;
	font-size: 12px;
	font-family: "Radiance";
	horizontal-align: center;
	text-align: center;
	color: #e6e6e6;
	text-overflow: clip;
	opacity: 0.75;
	letter-spacing: 1px;
}

/* Hall of Fame */
.PickingPlayer.HoF {
	width: 45%;
	height: 72px;
	margin: 0% 2% 1% 2%;
	flow-children: right;
}

#PickingPlayerDT {
	width: 100%;
	height: 60px;
	margin: 0% 2% 1% 2%;
	flow-children: right;
	visibility: collapse;
}

#PlayerAvatarDT {
	width: 60px;
	height: 100%;
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
	z-index: 5;
	background-size: 100% 100%;
}

.PickingPlayerDetailsDT,
.PickingPlayerDT {
	width: 40%;
	height: 100%;
	flow-children: down;
	border: 1px solid white;
}

#HeroPanelDT {
	width: 100%;
	height: 60%;
	background-color: black;
	background-size: 100% 100%;
	border: 1px solid #656565;
}

#PlayerNameDT {
	width: fit-children;
	height: 40%;
	margin-top: 5%;
	font-size: 12px;
	font-family: "Radiance";
	horizontal-align: left;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

#PlayerDT_Lvl,
#PlayerDT_HP {
	width: 100%;
	height: 40%;
	margin-top: 5%;
	font-size: 12px;
	font-family: "Radiance";
	horizontal-align: left;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}
