.Diretide
{
	width: 100%;
	height: 100%;
	z-index: -10;
}

#DiretidePanel
{
	margin-top: 67%;
	horizontal-align: center;
	flow-children: down;
	z-index: -1000;
}

#Diretide
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
	horizontal-align: center;
	visibility: collapse;
}

#Diretide2
{
	width: fit-children;
	height: fit-children;
	flow-children: right;
	horizontal-align: center;
	visibility: collapse;
}

#ScorePanel
{
	flow-children: down;
	width: fit-children;
	height: fit-children;
}

#Timer,
#Timer_alt
{
	font-size: 20px;
	font-weight: bolder;
	color: #ffffff;
	text-shadow: 2px 2px 2px #7b612b;
	text-align: center;
	width: 100%;
	text-overflow: clip;
}

#Timer_alt
{
	margin-right: 6%;
	text-align: right;
	text-overflow: clip;
}

#Timer.timer_visible
{
	opacity: 1;
}

#Timer.timer_alert
{
	color: red;
}

#RadiantScore,
#DireScore
{
	flow-children: down;
	width: 120px;
	height: 110px;
	align: center center;

	background-image: url("file://{images}/custom_game/game_info/pumpkin.png");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 70% 70%;
}

#RadiantScoreText,
#DireScoreText
{
	margin-left: 49px;
	margin-top: -30px;

	color: green;
	text-align: center;
}

#DireScoreText
{
	color: red;
}

.QuestGenericText
{
	font-family: TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-shadow: 2px 2px 1px 3.0 #333333b0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

#PhaseLabel
{
	font-size: 18px;
	font-weight: bolder;
	color: green;
	text-shadow: 1px 1px 1px #7b612b;
	text-align: center;
	text-overflow: clip;
}

#PhaseLevel
{
	horizontal-align: left;
}

//XHS BOSS BARS
.HoldoutLabelSmall
{
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px 2.0 #00000011;

	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	font-size: 14px;
	letter-spacing: 2px;
	text-overflow: clip;

	horizontal-align: center;
	text-align: center;	
	margin-top: 12px;
	text-shadow: 1px 1px 2px 3.0 #000000;
	font-size: 16px;
}

.HoldoutLabelSmall_alt
{
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px 2.0 #00000011;

	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	font-size: 14px;
	letter-spacing: 2px;
	text-overflow: clip;

	horizontal-align: center;
	text-align: center;	
	margin-bottom: 12px;
	text-shadow: 1px 1px 2px 3.0 #000000;
	font-size: 16px;
}

.HoldoutLabelSmall.Header
{
	width: 95px;
}

#RoshanHP
{
	width: 750px;
	height: 64px;
	visibility: collapse;
}

#RoshanProgressBar
{
	width: 90%;
	height: 24px;
	border-radius: 1px;
	border: 0px;
	background-color: black;
	vertical-align: middle;
	horizontal-align: right;
	box-shadow: fill #000 -3px -3px 6px 6px;	
}

#RoshanProgressBar_Left
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #326114 ), color-stop( 0.3, #54BA07 ), color-stop( .5, #54BA07 ), to( #326114 ) );
	box-shadow: inset #000 1px 1px 3px 3px;	
	border-radius: 2px;
}

#RoshanProgressBar_Left
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #320000 ), color-stop( 0.3, #D71414 ), color-stop( .5, #D71414 ), to( #320000 ) );
}

#RoshanProgressBar_Right
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #222222FF ), to( black ) );
}

#RoshanProgressBarContainer
{
	width: 100%;
	height: 40px;
	margin-right: 6%;
	vertical-align: bottom;
}

#BossIcon
{
	width: 48px;
	height: 48px;
	margin-left: 5%;	
	background-image: url("file://{images}/custom_game/game_info/roshan.png");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 90% 90%;
	z-index: 10;
}

#RoshanHealth
{
	margin-left: 6%;
}

#RoshanLevel
{
	margin-left: 6%;
	horizontal-align: left;
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px 2.0 #00000011;

	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	font-size: 14px;
	letter-spacing: 2px;
	text-overflow: clip;

	text-align: center;
	text-shadow: 1px 1px 2px 3.0 #000000;
	font-size: 18px;
}

#RoshanLevel_alt
{
	margin-top: 5%;
	margin-left: 2%;
	horizontal-align: left;
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px 2.0 #00000011;

	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	font-size: 14px;
	letter-spacing: 2px;
	text-overflow: clip;

	text-align: center;
	text-shadow: 1px 1px 2px 3.0 #000000;
	font-size: 18px;
}


#Roshan
{
	width: 120px;
	height: 80px;
	align: center center;
	background-image: url("file://{images}/custom_game/game_info/roshan.png");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 100% 100%;
}

#RoshanTarget
{
	width: 100%;
	margin-top: 4%;
	font-size: 16px;
	font-weight: bolder;
	color: #ffffff;
	text-shadow: 2px 2px 2px #7b612b;
	text-align: center;
	text-overflow: clip;
	visibility: collapse;
}

#RoshanTarget.visible
{
	opacity: 1;
}

#RoshanTarget.alert
{
	color: red;
}

#HallOfFame
{
	width: 800px;
	height: fit-children;
	border-radius: 25px;
	background-color: #000000da;
	align: center center;
	flow-children: down;
	visibility: collapse;
}

#InfoContent
{
	width: 100%;
	height: 200px;
}

#PlayerContent
{
	width: 100%;
	height: fit-children;
	flow-children: right;
}

#RadiantPlayers
{
	width: 50%;
	height: fit-children;
	background-color: green;
	flow-children: down;
}

#DirePlayers
{
	width: 50%;
	height: fit-children;
	background-color: red;
	flow-children: down;
}

.TeamTitle {
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 24px;
	font-weight: bolder;
	color:#fff;
}

#ButtonContent
{
	flow-children: right;
	width: 800px;
	height: 90px;
	horizontal-align: center;
}

#FeedButton,
#CloseButton
{
	width: 40%;
	margin-top: 60%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #000000da;
	border: 2px solid #4d5051;
	border-radius: 5px;
}

#FeedButton:hover
{
	border: 2px solid orange;
}

#CloseButton:hover
{
	border: 2px solid white;
}

#FeedButton Label,
#CloseButton Label
{
	align: center center;
	color: #6f6f6f;
	text-transform: uppercase;
	text-align: center center;
	font-size: 16px;
}

#FeedButton:hover Label,
#CloseButton:hover Label
{
	color: white;
}
