.Diretide
{
	width: 100%;
	height: 100%;
	z-index: -10;
}

#DiretidePanel
{
	margin-top: 67%;
	horizontal-align: center;
	flow-children: down;
	z-index: -1000;
}

#Diretide
{
	width: fit-children;
	height: fit-children;
	flow-children: down;
	horizontal-align: center;
	visibility: collapse;
}

#Diretide2
{
	width: fit-children;
	height: fit-children;
	flow-children: right;
	horizontal-align: center;
	visibility: collapse;
}

#ScorePanel
{
	flow-children: down;
	width: fit-children;
	height: fit-children;
}

#Timer,
#Timer_alt
{
	font-size: 20px;
	font-weight: bolder;
	color: #ffffff;
	text-shadow: 2px 2px 2px #7b612b;
	text-align: center;
	width: 100%;
	text-overflow: clip;
}

#Timer_alt
{
	margin-right: 6%;
	text-align: right;
	text-overflow: clip;
}

#Timer.timer_visible
{
	opacity: 1;
}

#Timer.timer_alert
{
	color: red;
}

#RadiantScore,
#DireScore
{
	flow-children: down;
	width: 120px;
	height: 110px;
	align: center center;

	background-image: url("file://{images}/custom_game/game_info/pumpkin.png");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 70% 70%;
}

#RadiantScoreText,
#DireScoreText
{
	margin-left: 49px;
	margin-top: -30px;

	color: green;
	text-align: center;
}

#DireScoreText
{
	color: red;
}

.QuestGenericText
{
	font-family: TH Sarabun New,YDYGO 540,Gulim,MingLiU;
	text-shadow: 2px 2px 1px 3.0 #333333b0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
}

#PhaseLabel
{
	font-size: 18px;
	font-weight: bolder;
	color: green;
	text-shadow: 1px 1px 1px #7b612b;
	text-align: center;
	text-overflow: clip;
}

#PhaseLevel
{
	horizontal-align: left;
}

//XHS BOSS BARS
.HoldoutLabelSmall
{
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px 2.0 #00000011;

	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	font-size: 14px;
	letter-spacing: 2px;
	text-overflow: clip;

	horizontal-align: center;
	text-align: center;	
	margin-top: 12px;
	text-shadow: 1px 1px 2px 3.0 #000000;
	font-size: 16px;
}

.HoldoutLabelSmall_alt
{
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px 2.0 #00000011;

	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	font-size: 14px;
	letter-spacing: 2px;
	text-overflow: clip;

	horizontal-align: center;
	text-align: center;	
	margin-bottom: 12px;
	text-shadow: 1px 1px 2px 3.0 #000000;
	font-size: 16px;
}

.HoldoutLabelSmall.Header
{
	width: 95px;
}

#RoshanHP
{
	width: 750px;
	height: 64px;
	visibility: collapse;
}

#RoshanProgressBar
{
	width: 90%;
	height: 24px;
	border-radius: 1px;
	border: 0px;
	background-color: black;
	vertical-align: middle;
	horizontal-align: right;
	box-shadow: fill #000 -3px -3px 6px 6px;	
}

#RoshanProgressBar_Left
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #326114 ), color-stop( 0.3, #54BA07 ), color-stop( .5, #54BA07 ), to( #326114 ) );
	box-shadow: inset #000 1px 1px 3px 3px;	
	border-radius: 2px;
}

#RoshanProgressBar_Left
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #320000 ), color-stop( 0.3, #D71414 ), color-stop( .5, #D71414 ), to( #320000 ) );
}

#RoshanProgressBar_Right
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #222222FF ), to( black ) );
}

#RoshanProgressBarContainer
{
	width: 100%;
	height: 40px;
	margin-right: 6%;
	vertical-align: bottom;
}

#BossIcon
{
	width: 48px;
	height: 48px;
	margin-left: 5%;	
	background-image: url("file://{images}/custom_game/game_info/roshan.png");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 90% 90%;
	z-index: 10;
}

#RoshanHealth
{
	margin-left: 6%;
}

#RoshanLevel
{
	margin-left: 6%;
	horizontal-align: left;
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px 2.0 #00000011;

	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	font-size: 14px;
	letter-spacing: 2px;
	text-overflow: clip;

	text-align: center;
	text-shadow: 1px 1px 2px 3.0 #000000;
	font-size: 18px;
}

#RoshanLevel_alt
{
	margin-top: 5%;
	margin-left: 2%;
	horizontal-align: left;
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px 2.0 #00000011;

	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	font-size: 14px;
	letter-spacing: 2px;
	text-overflow: clip;

	text-align: center;
	text-shadow: 1px 1px 2px 3.0 #000000;
	font-size: 18px;
}


#Roshan
{
	width: 120px;
	height: 80px;
	align: center center;
	background-image: url("file://{images}/custom_game/game_info/roshan.png");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 100% 100%;
}

#RoshanTarget
{
	width: 100%;
	margin-top: 4%;
	font-size: 16px;
	font-weight: bolder;
	color: #ffffff;
	text-shadow: 2px 2px 2px #7b612b;
	text-align: center;
	text-overflow: clip;
	visibility: collapse;
}

#RoshanTarget.visible
{
	opacity: 1;
}

#RoshanTarget.alert
{
	color: red;
}

#HallOfFame
{
	width: 800px;
	height: fit-children;
	border-radius: 25px;
	background-color: #000000da;
	align: center center;
	flow-children: down;
	visibility: collapse;
}

#InfoContent
{
	width: 100%;
	height: 200px;
}

#PlayerContent
{
	width: 100%;
	height: fit-children;
	flow-children: right;
}

#RadiantPlayers
{
	width: 50%;
	height: fit-children;
	background-color: green;
	flow-children: down;
}

#DirePlayers
{
	width: 50%;
	height: fit-children;
	background-color: red;
	flow-children: down;
}

.TeamTitle {
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 24px;
	font-weight: bolder;
	color:#fff;
}

#ButtonContent
{
	flow-children: right;
	width: 800px;
	height: 90px;
	horizontal-align: center;
}

#FeedButton,
#CloseButton
{
	width: 40%;
	margin-top: 60%;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #000000da;
	border: 2px solid #4d5051;
	border-radius: 5px;
}

#FeedButton:hover
{
	border: 2px solid orange;
}

#CloseButton:hover
{
	border: 2px solid white;
}

#FeedButton Label,
#CloseButton Label
{
	align: center center;
	color: #6f6f6f;
	text-transform: uppercase;
	text-align: center center;
	font-size: 16px;
}

#FeedButton:hover Label,
#CloseButton:hover Label
{
	color: white;
}












@keyframes 'fade_full'
{
	0%
	{
		opacity: 0.0;
	}

	50%
	{
		opacity: 0.9;
	}

	100%
	{
		opacity: 1.0;
	}
}

@keyframes 'color_transition'
{
	0%
	{
		brightness:  1;
	}

	50%
	{
		brightness:  1.6;
	}

	100%
	{
		brightness:  1;
	}
}

@keyframes 'refresh'
{
	0%
	{
		transform: rotateZ( 0deg );
	}

	100%
	{
		transform: rotateZ(180deg);
	}
}

@keyframes 'breathe_ancient'
{
	0%
	{
		box-shadow: inset #eb4b4b 0 0 1px 0;
	}

	50%
	{
		box-shadow: inset #eb4b4b 0 0 4px 0;
	}

	100%
	{
		box-shadow: inset #eb4b4b 0 0 1px 0;
	}
}

@keyframes 'breathe_arcana'
{
	0%
	{
		box-shadow: inset #88ff4d 0 0 1px 0;
	}

	50%
	{
		box-shadow: inset #88ff4d 0 0 4px 0;
	}

	100%
	{
		box-shadow: inset #88ff4d 0 0 1px 0;
	}
}

@keyframes 'breathe_immortal'
{
	0%
	{
		box-shadow: inset #e6b800 0 0 1px 0;
	}

	50%
	{
		box-shadow: inset #e6b800 0 0 4px 0;
	}

	100%
	{
		box-shadow: inset #e6b800 0 0 1px 0;
	}
}

@keyframes 'breathe_mythical'
{
	0%
	{
		box-shadow: inset #720585 0 0 1px 0;
	}

	50%
	{
		box-shadow: inset #720585 0 0 4px 0;
	}

	100%
	{
		box-shadow: inset #720585 0 0 1px 0;
	}
}

#LeaderboardInfoContainer {
	width: 80%;
	height: 80%;
	flow-children: down;
	padding: 5px;
	align: center center;
	visibility: collapse;
}

#LocalPlayerInfoContainer {
	width: 100%;
	height: 60px;
}

#LocalPlayerInfo {
	align: center bottom;
}

#LeaderboardMainContainer {
	width: 100%;
	background-color: #040c1850;
	height: 490px;
	padding-bottom: 10px;
	overflow:  squish scroll;
	flow-children: down;
}

.LeaderboardButtonLabel {
	width: 100%;
	text-align: center;
	font-size: 19px;
	color:#daebff;
	align:  center center;
}

#XP {
	background-color: #2b323fa4;
	height: 90%;
	align:  center center;
	margin-bottom: 5px;
}

#XP:hover {
	background-color: #303848;
}

#XP:active {
	background-color: #303848;
}

#IMR {
	background-color: #2b323fa4;
	height: 90%;
	align:  center center;
	margin-bottom: 5px;
}

#IMR:hover {
	background-color: #303848;
}

#IMR:active {
	background-color: #303848;
}

.LeaderboardRank,
.LeaderboardXP,
.LeaderboardIMR,
.LeaderboardAvatar,
.LeaderboardAvatar_alt
{
	height: 100%;
	text-align: center;
	font-size: 19px;
	color:#daebff;
}

/* Leaderboard Legend */
.LeaderboardLegend {
	width: 100%;
	height: 40px;
	flow-children: right;
	/* border-bottom: 1px solid white; */
}

/* Leaderboard */
.LeaderboardGames {
	width: 100%;
	height: 45px;
	flow-children: right-wrap;
	border-top: 1px solid #3f464ecc;
}

.LeaderboardRank {
	width: 10%;	
	align:  center center;
}

.LeaderboardAvatar {
	width: 15%;
	border: 0;
	align:  center center;
}

.LeaderboardXP {
	width: 50%;	
	align:  center center;
}

.LeaderboardIMR {
	width: 23%;	
	align:  center center;
}

#Tops {
	width: 100%;
	height: fit-children;
	flow-children: down;
}

.imbar-progress-bar
{
	width: 100%;
	border-radius: 10px;
	background-color: #282f39;
	height: 28px;
	vertical-align: center;
	overflow:  clip;
}

.ProgressBarLeft
{
	border-radius:  0 6px 6px 0;
	background-color: gradient( linear,  100% 0%, 0 0 , from (#0a9153), color-stop( 0.5, #09bb6a ), to(#0a9153));
}

#ProgressBar_Right
{
	background-color: gradient( linear, 0% 0%, 0 0%, from( #222222FF ), to( black ) );
}

.imbar-lvl
{
	width: 35%;
	font-size: 16px;
	margin-top: 2px;
	margin-left: 15px;
	color: white;
	vertical-align: center;
	horizontal-align: left;
	text-align: left;
	opacity: 1;
	text-shadow: 1px 1px 2px 2.0 #00000030;
}
.imbar-rank-wrapper {
	width: 30%;
	flow-children:  right;
	align: center center;
}
.imbar-rank
{
	margin-top: 2px;
	font-size: 14px;
	color: white;
	vertical-align: center;
	horizontal-align: left;
	text-align: left;
	opacity: 1;
	text-transform: uppercase;
	border-radius: 5px;
	margin-left: 8px;

	text-shadow: 1px 1px 2px 3.0 #00000030;
}

.imbar-rank-cicle {
	width: 12px;
	height: 12px;
	align:  center center;
	border-radius: 50%;
	opacity: 0.9;
	box-shadow: 0px 0px 2px 0px #00000085;
	brightness: 0.9;
}
