.MainGG {
	align:  right top;	
	margin-top: 100px;
	margin-right: 30px;
}
.Root {
	width: 530px;
	height: 330px;
	align:  right top;
	box-shadow: 0px 0px 10px 0px #000000a8;
	background-image: url("file://panorama/images/custom_game/gg/gg_background.png");
	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	background-size: cover;
	flow-children:  down;
	visibility:  collapse;
}
.Root.visible {
	visibility: visible;
}
#Title {
	align: center top;
	padding: 25px 35px 15px;
}
.UILabelLarge {
	color: #d4c588;
	font-size:  26px;
	letter-spacing: 1.5px;
	line-height: 35px;
	text-align: center;
	text-shadow: 1px 1px 3px 2.0 #000000ee;
	text-transform: uppercase;
}
#Timer {	
	align: center center;
	margin-bottom: 0px;
}
.GGTimer {
	color: #fef4cb;
	font-size: 85px;
	text-shadow: 1px 1px 6px 2.0 #000000ee;

}
#MainButton {
	height: 50px;
	width: 270px;
	margin-bottom: 5px;
	align:  center center;
	padding: 5px 20px;
	background-color:  gradient( linear, 0% 0, 0 100%, from( #b98d4a ),  to( #d9ca81 ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_2x_png.vtex");
	background-size: 328px 50px;
	border-bottom: 1px solid #00000088;
	border-top: 1px solid #ffffff05;
	border-right: 1px solid #00000088;
	border-left: 1px solid #ffffff05;
	margin-bottom: 10px;
}
#MainButton:hover {
	brightness: 1.5;
}
.GG_button_label {
	align: center center;
	color: #fff;
	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	text-transform: uppercase;
	font-size: 21px;
	text-shadow: 1px 1px 3px 2.0 #4d400dac;
	letter-spacing: 2px;
	font-weight: bold;
}