#ArenaTopBarContainer {
	margin-top: 70px;
	horizontal-align: center;
	height: 92px;
	flow-children: right;
	transition-property: visibility;
	transition-delay: 2s;
	transition-timing-function: ease-in-out;
	visibility: collapse;
}

#RadiantContainer {
	vertical-align: center;
	flow-children: right;
}

#RadiantScoreLabel {
	font-family: "Goudy Trajan Medium";
	font-size: 40px;
	height: 46px;
	width: 100px;
	color: #00FF00;
	text-shadow: 1px 1px 1px #444444;
	font-weight: bold;
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	border-radius: 10px;
	background-color: #000000;
}

#RadiantProgressBarPanel {
	width: 200px;
	height: 46px;
	color: #00FF00;
	horizontal-align: center;
	vertical-align: center;
	border: 2px solid #000000;
	border-radius: 10px;
}

#RadiantProgressBarPanel ProgressBar
{
	width: 100%;
	height: 100%;
	background-color: black;
}

#RadiantProgressBar {
	visibility: visible;
}

#RadiantTakenProgressBar {
	visibility: collapse;
}

#RadiantProgressBarPanel ProgressBar#RadiantProgressBar .ProgressBarLeft
{
	background-color: gradient(linear, 0% 0%, 70% 0%, from(#006000), to(#00E000));
}

#RadiantProgressBarPanel ProgressBar#RadiantTakenProgressBar .ProgressBarLeft
{
	background-color: gradient(linear, 0% 0%, 70% 0%, from(#600000), to(#E00000));
}

#RadiantPipImg {
	horizontal-align: center;
	vertical-align: center;
}

#CenterContainer {
	vertical-align: center;
	flow-children: down;
	width: 120px;
	border-radius: 10px;
	background-color: #000000;
}

#CenterObjectiveTitle {
	font-family: "Radiance";
	font-size: 24px;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px #444444;
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	margin-top: 3px;
}

#CenterObjectivePoints {
	font-family: "Goudy Trajan Medium";
	font-size: 48px;
	color: #FF7800;
	text-shadow: 1px 1px 1px #444444;
	font-weight: bold;
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 3px;
}

#DireContainer {
	vertical-align: center;
	flow-children: right;
}

#DireScoreLabel {
	font-family: "Goudy Trajan Medium";
	font-size: 40px;
	height: 46px;
	width: 100px;
	color: #FF0000;
	text-shadow: 1px 1px 1px #444444;
	font-weight: bold;
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
	border-radius: 10px;
	background-color: #000000;
}

#DireProgressBarPanel {
	width: 200px;
	height: 46px;
	color: #00FF00;
	horizontal-align: center;
	vertical-align: center;
	border: 2px solid #000000;
	border-radius: 10px;
}

#DireProgressBarPanel ProgressBar
{
	width: 100%;
	height: 100%;
	background-color: black;
}

#DireProgressBar {
	visibility: visible;
}

#DireTakenProgressBar {
	visibility: collapse;
}

#DireProgressBarPanel ProgressBar#DireProgressBar .ProgressBarLeft
{
	background-color: gradient(linear, 0% 0%, 70% 0%, from(#600000), to(#E00000));
}

#DireProgressBarPanel ProgressBar#DireTakenProgressBar .ProgressBarLeft
{
	background-color: gradient(linear, 0% 0%, 70% 0%, from(#006000), to(#00E000));
}

#DirePipImg {
	margin-left: 4px;
	horizontal-align: center;
	vertical-align: center;
}