
#AutoTeamSelectInfo {
	margin-top: 40px;
	height: fit-children;
	flow-children: down;
}

#AutoTeamSelectInfoLabel {
	font-size: 28px;
}

#AutoTeamSelectInfoLabel2 {
	font-size: 20px;
	text-transform: uppercase;
}