.addon-root {
	width: 100%;
	height: 100%;
	background-color: black;
	background-image: url("file://{images}/custom_game/loading_screen/loading-elder.jpg");
	background-position: 65% 0%;
	background-size: cover;
	overflow: clip;
}

#imba-admin
{
	width: 40%;
	height: fit-children;
	margin-top: 5%;
	margin-left: 2%;
	background-color: #000000da;
	flow-children: down;
	visibility: collapse;
}

#imba-news {
	vertical-align: bottom;
	margin-bottom: 250px;
	margin-left: 2%;
	width: 50%;
	background-color: rgba(255, 255, 255, 0.2);
	padding: 20px 40px;
	height: fit-children;
	flow-children: down;
}

.AspectRatio4x3 #imba-news {
	width: 40%;
	margin-bottom: 220px;
}

#imba-news-title {
	font-size: 32px;
	color: #144;
}

#imba-news-article-title {
	font-size: 24px;
	color: #255;
}

#imba-news-article-text {
	font-size: 18px;
	color: #122;
}

#imba-news-link {
	color: #255;
	font-size: 20px;
}

#imba-news-link:hover {
	text-decoration: underline;
}

#imba-logo {
	margin-bottom: 80px;
	margin-left: 40px;
	vertical-align: bottom;
	background-image: url("file://{images}/custom_game/loading_screen/imba-logo.png");
	width: 300px;
	height: 200px;
}

#imba-logo:hover {
	opacity: 0.9;
} 

#imba-social {
	margin-left: 2%;
	vertical-align: bottom;
	margin-bottom: 120px;
	padding: 10px;
}

#imba-social-buttons {
	flow-children: right;
}

#imba-social-buttons Button {
	width: 200px;
	height: 65px;
	box-shadow: #000 0 0 10px 0; 
	background-position: center center;
}

.AspectRatio4x3 #imba-social-buttons Button {
	width: 180px;
	height: 59px;
	box-shadow: #000 0 0 10px 0; 
	background-position: center center;
}

#imba-social-buttons Button:hover {
	box-shadow: #111 0 0 15px 0;
}

#imba-social-buttons Button:active {
	box-shadow: #333 0 0 15px 0;
}

#imba-social-button-discord-en {
	background-size: contain;
	background-image: url("file://{images}/custom_game/loading_screen/community_discord_header.png"); 
}
#imba-social-button-discord-en:active { margin-left: 21px; }

#imba-social-button-discord-ru {
	margin-left: 20px;
	background-size: contain;
	background-image: url("file://{images}/custom_game/loading_screen/community_discord_header_ru.png"); 
}
#imba-social-button-discord-ru:active { margin-left: 21px; }

#imba-social-button-tencent {
	margin-left: 20px;
	background-size: contain;
	background-image: url("file://{images}/custom_game/loading_screen/community_chinese_blog.png"); 
}
#imba-social-button-tencent:active { margin-left: 21px; }

#imba-social-button-reddit {
	margin-left: 20px;
	background-size: contain;
	background-image: url("file://{images}/custom_game/loading_screen/community_reddit_header.png");
}
#imba-social-button-reddit:active { margin-left: 21px; }

#imba-social-button-patreon {
	margin-left: 20px;
	background-image: url("file://{images}/custom_game/loading_screen/patreon.png");
	background-size: 200px 65px;
}
#imba-social-button-patreon:active { margin-left: 21px; }

#GameOptionsPanel
{
	width: 100%;
	height: fit-children;
	flow-children: down;
	padding: 10px;
}

#game_options_game_mode_title
{
	font-size: 32px;
	color: #FFF;
	margin-top: 5px;
	text-align: center;
	font-weight: bold;
	horizontal-align: center;
}

.GameOptionsSubPanel,
.GameOptionsLongSubPanel
{
	width: 100%;
	height: 60px;
}

.GameOptionsSubPanel
{
	flow-children: right;
}

.GameOptionsLongSubPanel
{
    flow-children: down;
}

#KillsToEndOptionsPanel {
	visibility: collapse;
}

.GameOptionsSubPanel_alt
{
	margin-top: 20px;
	width: 100%;
	flow-children: right;
}

#QuickOptionsPanel {
	margin-top: 30px;
}

#QuickOptionsNormalBtn
{
	width: 45%;
	height: 40px;
	margin-left: 2%;
	horizontal-align: left;
	background-size: 300% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #207020FF ), to( #28B028FF ) );
	box-shadow: #000000 0px 0px 15px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
}

#QuickOptionsNormalBtn:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #28B028FF ), to( #40F040FF ) );
	box-shadow: #000000 0px 0px 20px 0px;
}

#QuickOptionsNormalBtn:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_lock_and_start";
}

#QuickOptionsHighBtn
{
	width: 45%;
	height: 40px;
	margin-right: 2%;
	horizontal-align: right;
	background-size: 300% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #702020FF ), to( #B02828FF ) );
	box-shadow: #000000 0px 0px 15px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
}

#QuickOptionsHighBtn:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #B02828FF ), to( #F04040FF ) );
	box-shadow: #000000 0px 0px 20px 0px;
}

#QuickOptionsHighBtn:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_lock_and_start";
}

.QuickOptionsBtnLabel
{
	font-size: 28px;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	horizontal-align: center;
	vertical-align: center;
}

.GameOptionsLabel
{
	width: 30%;
	margin-left: 5%;
	text-align: left;
	horizontal-align: left;
	vertical-align: center;
}

.GameOptionsToggle
{
	width: 30%;
	text-align: center;
	horizontal-align: left;
	vertical-align: center;
}

#TowerUpgradesToggle {
	margin-left: 5%;
}

#FranticToggle {
	visibility: collapse;
}

.GameOptionsSubPanel .GameOptionsDropdown
{
	margin-left: 10px;
	width: 120px;
}

.GameOptionsLongSubPanel .GameOptionsDropdown
{
    margin-top: 5px;
    width: 100%;
}

#ConfirmOptionsBtn
{
	margin: 20px 40px;
	width: 400px;
	height: 40px;
	background-size: 100% 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #292e2e ), to( #191e1e ) );
	box-shadow: #000000 0px 0px 18px 0px;
	transition-property: background-color;
	transition-duration: 0.2s;
}

#ConfirmOptionsBtn:hover
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #24248f ), to( #1717e8 ) );
	box-shadow: #000000 0px 0px 25px 0px;
}

#ConfirmOptionsBtn:active
{
	transform: translate3d(1px, 1px, 0px);
	sound: "ui_team_select_lock_and_start";
}

#ConfirmOptionsBtn Label
{
	font-size: 24px;
	horizontal-align: center;
	vertical-align: center;
	color: #ffffff;
}

#AllPickToggle {
	margin-left: 5%;
}

#FranticInfo
{
	width: 100%;
	margin-left: 5%;
	text-align: left;
	horizontal-align: left;
	vertical-align: center;
}