@keyframes 'fade_full'
{
	0%
	{
		opacity: 0.0;
	}

	50%
	{
		opacity: 0.9;
	}

	100%
	{
		opacity: 1.0;
	}
}

@keyframes 'refresh'
{
	0%
	{
		transform: rotateZ( 0deg );
	}

	100%
	{
		transform: rotateZ(180deg);
	}
}

.Battlepass
{
	width: 100%;
	height: 100%;
	z-index: -10;
}

#BattlepassButtonContainer
{
	margin-top: 4%;
	align: center top;
	flow-children: down;
}

#SafeToLeave {
	padding-left: 20px;
	padding-right: 20px;
	height: 40px;
	background-color: green;
	horizontal-align: center;
	border-radius: 50px;
	visibility: collapse;
}

#SafeToLeave Label {
	align: center center;
	color: white;
	text-transform: uppercase;
	text-align: center center;
	font-size: 18px;
}

#BattlepassButton
{
	width: 150px;
	height: 35px;
	padding: 4px 4px 4px 4px;
	border-radius: 4px;
	background-color: #000090ba;
	horizontal-align: center;
	saturation: 0.7;
}

#BattlepassButton:hover
{
	border: 1px solid white;
	saturation: 0.8;
}

#BattlepassButton:active
{
	saturation: 1.0;
}

#BattlepassButton Label
{
	align: center center;
	color: white;
	text-transform: uppercase;
	text-align: center center;
	font-size: 18px;
}

#BattlepassButton:hover Label
{
	color: white;
}

#BattlepassWindow
{
	width: 820px;
	height: 780px;
	margin-bottom: 100px;
	background-color: #0008;
	align: right center;
	flow-children: down;
	visibility: collapse;
	padding: 10px;
}

#BattlepassWindow.setvisible {
	visibility: visible;
}

#BattlepassWindow.sethidden {
	visibility: collapse;
}

#InfoContent
{
	width: 100%;
	height: 200px;
	flow-children: down;
}

#BattlepassInfoContainer,
#DonatorInfoContainer,
#LeaderboardInfoContainer, {
	width: 100%;
	height: 520px;
	flow-children: down;
	padding: 1% 1% 1% 1%;
}

#DonatorInfoContainer,
#LeaderboardInfoContainer {
	visibility: collapse;
}

#InfoHeader {
	width: 100%;
	height: 60px;
}

.LeaderboardButtonLabel {
	width: 100%;
	text-align: center;
	font-size: 19px;
	font-weight: bolder;
	color:#fff;
}

#XP {
	background-color: #505050ba;
}

#XP:hover {
	background-color: #303030ba;
}

#XP:active {
	background-color: #505050ba;
}

#IMR {
	background-color: #005000ba;
}

#IMR:hover {
	background-color: #003000ba;
}

#IMR:active {
	background-color: #005000ba;
}

.LeaderboardRank,
.LeaderboardXP,
.LeaderboardIMR,
.LeaderboardAvatar,
.LeaderboardAvatar_alt
{
	text-align: center;
	font-size: 19px;
	font-weight: bolder;
	color:#fff;
}

.LeaderboardXP, {
	padding: 3px 10px 3px 10px;
}

/* Leaderboard Legend */
.LeaderboardLegend {
	width: 100%;
	height: 30px;
	flow-children: right-wrap;
	border-bottom: 1px solid white;
}

/* Leaderboard */
.LeaderboardGames {
	width: 100%;
	height: 35px;
	flow-children: right-wrap;
}

.LeaderboardRank {
	width: 10%;
	height: 100%;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-right: 1px solid white;
}

.LeaderboardAvatar {
	width: 15%;
	height: 100%;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-right: 1px solid white;
}

.LeaderboardXP {
	width: 50%;
	height: 100%;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-right: 1px solid white;
}

.LeaderboardIMR {
	width: 30%;
	height: 100%;
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-right: 1px solid white;
}

#PlayerContent
{
	width: 100%;
	height: fit-children;
	flow-children: right;
}

#RadiantPlayers
{
	width: 50%;
	height: fit-children;
	background-color: #005000da;
	flow-children: down;
}

#DirePlayers
{
	width: 50%;
	height: fit-children;
	background-color: #500000da;
	flow-children: down;
}

.TeamTitle {
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 24px;
	font-weight: bolder;
	color:#fff;
}

#TabButtonContainer {
	width: 100%;
	flow-children: right;
}

#BattlepassTabButton,
#CloseButton {
	width: 100%;
	height: 40px;
	align: center center;
	saturation: 0.9;
}

#BattlepassTabButton,
#DonatorTabButton,
#LeaderboardTabButton
{
	width: 33.333333333333333333%;
	height: 40px;
	align: center bottom;
	background-color: #500000ba;
	saturation: 0.9;
}

#BattlepassTabButton {
	background-color: #000090ba;
}

#CloseButton {
	background-color: #000090ba;
}

#DonatorTabButton {
	background-color: #909000ba;
}

#BattlepassTabButton:hover,
#CloseButton:hover
{
	background-color: #000060ba;
}

#DonatorTabButton:hover {
	background-color: #404000ba;
}

#LeaderboardTabButton:hover {
	background-color: #400000ba;
}

#DonatorTabButton:active
{
	saturation: 1.0;
	background-color: #303000ba;
}

#LeaderboardTabButton:active
{
	saturation: 1.0;
	background-color: #300000ba;
}

#BattlepassTabButton:active,
#CloseButton:active
{
	saturation: 1.0;
	background-color: #000030ba;
}

#BattlepassTabButton Label,
#DonatorTabButton Label,
#LeaderboardTabButton Label,
#CloseButton Label
{
	align: center center;
	color: white;
	text-transform: uppercase;
	text-align: center center;
	font-size: 18px;
}

.ButtonClass:hover {
	saturation: 1.0;
}

.ButtonClass:active {
	saturation: 0.6;
}

#Tops {
	width: 100%;
	height: fit-children;
	flow-children: down;
}

.imbar-progress-bar
{
	width: 100%;
	border-radius: 4px;
	border: 3px solid #444;
	background-color: black;
	height: 24px;
	vertical-align: center;
	box-shadow: fill #000 -3px -3px 6px 6px;
}

.ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #326114 ), color-stop( 0.3, #18BE23 ), color-stop( .5, #18BE23 ), to( #01410E ) )
	box-shadow: inset #000 1px 1px 3px 3px;	
	border-radius: 2px;
}

#ProgressBar_Right
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #222222FF ), to( black ) );
}

.imbar-lvl
{
	width: 30%;
	height: 100%;
	font-size: 17px;
	font-weight: bold;
	margin-top: 4px;
	margin-left: 10px;
	color: white;
	vertical-align: center;
	horizontal-align: left;
	text-align: left;
	opacity: 0.75;
}

.imbar-rank
{
	width: 30%;
	height: 100%;
	margin-top: 4px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	vertical-align: center;
	horizontal-align: center;
	text-align: center;
	opacity: 0.75;
}

.imbar-xp
{
	width: 40%;
	height: 100%;
	margin-top: 4px;
	margin-right: 8px;
	font-size: 17px;
	font-weight: bold;
	color: white;
	vertical-align: center;
	horizontal-align: right;
	text-align: right;
	opacity: 0.75;
}

.LeaderboardInGamePlayers {
	width: 100%;
	flow-children: right;
}

/* Labels */
.HoldoutLabelSmall
{
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px 2.0 #00000011;

	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	letter-spacing: 2px;
	text-overflow: clip;

	horizontal-align: center;
	text-align: center;	
	margin-top: 12px;
	text-shadow: 1px 1px 2px 3.0 #000000;
	font-size: 22px;
}

.HoldoutLabelSmall_alt
{
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px 2.0 #00000011;

	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	font-size: 14px;
	letter-spacing: 2px;
	text-overflow: clip;

	horizontal-align: center;
	text-align: center;	
	margin-bottom: 12px;
	text-shadow: 1px 1px 2px 3.0 #000000;
}

.HoldoutLabelSmall.Header
{
	width: 95px;
}

#RoshanLevel_alt
{
	margin-top: 5%;
	margin-left: 2%;
	horizontal-align: left;
	color: white;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 2px 2.0 #00000011;

	font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
	letter-spacing: 2px;
	text-overflow: clip;

	text-align: center;
	text-shadow: 1px 1px 2px 3.0 #000000;
	font-size: 16px;
}

/* Game Info */
.GameModeValues
{
	width: 100%;
	margin-bottom: 5%;
	flow-children: right;
}

.GameModeLabelPanel
{
	width: 26%;
	margin-left: 3%;
	margin-right: 3%;
	flow-children: down;
}

.GameModeValuePanel
{
	width: 15%;
	margin-left: 2%;
	flow-children: down;
	font-size: 13px;
}

.Separator {
	width: 1%;
	height: 100%;
	background-color: grey;
}

.ImbaGameInfoLabel
{
	margin-top: 3px;
	horizontal-align: left;
	font-size: 14px;
	color: #999999;
	vertical-align: top;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center center;
	text-shadow: 0px 0px 4px 4 #000000;
	color: #A3B5D0cc;
}

#ComingSoon {
	width: 100%;
	height: 20px;
	background-color: #505050ba;

	align: center center;
	color: white;
	text-transform: uppercase;
	text-align: center center;
	font-size: 18px;
}

.BattlepassRow {
	width: 100%;
	height: 85px;
	margin-top: 5px;
	background-color: #000000ba;
	horizontal-align: left;
	flow-children: right;
/*	overflow: noclip scroll; */
}

.BattlepassReward {
	width: 74px;
	height: 75px;
	margin-left: 2px;
	margin-right: 2px;
	flow-children: down;
}

.BattlepassRewardIcon {
	width: 74px;
	height: 60px;
	vertical-align: top;
	background-position: 0px 0px;
//	background-size: 74px 60px;
}

.BattlepassRewardIcon_locked {
	wash-color: darkgrey;
	saturation: 0.8;
}

.BattlepassRewardLabel {
	horizontal-align: left;
	font-size: 12px;
	vertical-align: top;
	letter-spacing: 1px;
	align: center center;
	text-transform: uppercase;
	text-align: center center;
	text-shadow: 0px 0px 4px 4 #000000;
	color: #A3B5D0cc;
}

.BattlepassRewardLabelLocked {
	horizontal-align: left;
	font-size: 12px;
	vertical-align: top;
	letter-spacing: 1px;
	align: center center;
	text-transform: uppercase;
	text-align: center center;
	text-shadow: 0px 0px 4px 4 #000000;
	color: red;
}

.BattlepassRewardLabelUnlocked {
	horizontal-align: left;
	font-size: 12px;
	vertical-align: top;
	letter-spacing: 1px;
	align: center center;
	text-transform: uppercase;
	text-align: center center;
	text-shadow: 0px 0px 4px 4 #000000;
	color: #A3B5D0cc;
	font-family: "Bold";
	font-weight: bold;
	background-color: #000000da;
	animation-name: fade_full;
	animation-duration: 4.0s;
	animation-timing-function: ease-in;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.DonatorTabLabel {
	width: 100%;
	height: 20px;
	background-color: #505050ba;

	align: center center;
	color: white;
	text-transform: uppercase;
	text-align: center center;
	font-size: 18px;
}

.DonatorRow {
	width: 100%;
	height: 153px;
	margin-top: 5px;
	background-color: #000000ba;
	horizontal-align: left;
	flow-children: right;
/*	overflow: noclip scroll; */
}

.DonatorReward {
	width: 153px;
	height: 100%;
	margin-left: 2px;
	margin-right: 2px;
	flow-children: down;
}

.DonatorReward:hover {
	background-color: #202020aa;
}

.DonatorReward:active {
	background-color: #000000aa;
}

#player_10 {
	border-bottom: 1px solid white;
}

#CompanionNotification {
	width: 100%;
	height: 10%;
	background-color: black;
	align: center center;
	visibility: collapse;
}

#CompanionNotification.success,
#CompanionNotification.failure {
	background-color: green;
	animation-name: fade_full;
	animation-duration: 3.0s;
	animation-timing-function: ease-in;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	visibility: visible;
	border-radius: 50px;
}

#CompanionNotification.failure {
	background-color: darkred;
}

#CompanionNotification.not_donator {
	animation-duration: 3.0s;
	animation-name: fade_full;
	animation-timing-function: ease-in;
	animation-direction: alternate;
	animation-iteration-count: 1;
	background-color: #905000da;
	visibility: visible;
	border-radius: 50px;
}

#CompanionNotification.not_donator:hover {
	background-color: #804000da;
}

#CompanionNotification.not_donator:active {
	background-color: #703000da;
}

#CompanionNotificationLabel {
	align: center center;
	color: white;
	text-align: center center;
	font-size: 22px;
	font-weight: bolder;
}

.CompanionNew {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #3366ffba ), to( #414849ba ) );
}

.CompanionUnique {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #997300ba ), to( #414849ba ) );
}

#DonatorOptions {
	width: 100%;
	height: 15%;
	margin-bottom: 5px;
	background-color: #000000da;
	padding: 10px;
}

#DonatorOptionsToggle {
	wash-color: #CDF;
}

#DonatorOptionsToggle
{
	width: 33%;
	height: 100%;
	align: left center;
	saturation: 0.9;
}

#DonatorOptionsToggleLabel {
	align: center center;
	color: white;
	text-align: center center;
	font-size: 16px;
}

.companion_enabled {
	background-color: #000090ba;
}

.companion_enabled:hover {
	background-color: #000060ba;
}

.companion_enabled:active
{
	saturation: 1.0;
	background-color: #000030ba;
}

.companion_disabled {
	background-color: #500000ba;
}

.companion_disabled:hover {
	background-color: #400000ba;
}

.companion_disabled:active
{
	saturation: 1.0;
	background-color: #300000ba;
}

#RefreshBattlepassButton {
	margin-bottom: 5px;
	padding: 3px;
	wash-color: #cccccc;
	background-color: #707070da;
	flow-children: right;
	transition-property: wash-color, pre-transform-scale2d;
	transition-duration: 0.1s;
	transition-timing-function: ease-in;
	border-radius: 5px;
}

#RefreshBattlepassButton Label{
	align: center center;
	color: white;
	text-align: center center;
	font-size: 20px;
}

#RefreshBattlepass {
	width: 32px;
	height: 32px;
	margin-left: 10px;
	background-image: url("s2r://panorama/images/control_icons/refresh_psd.vtex");
	background-size: 100% 100%;
}

#RefreshBattlepassButton:hover {
	wash-color: white;
}

#RefreshBattlepass.Active {
	animation-name: refresh;
	animation-duration: 0.55s;
	animation-delay: 0.15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-direction: reverse;
}
