@keyframes 'fade_in'
{
	0%
	{
		opacity: 0.0;
	}

	50%
	{
		opacity: 0.0;
	}

	100%
	{
		opacity: 1.0;
	}
}

@keyframes 'level_up'
{
	0%
	{
		border: 0px solid gold;
	}

	50%
	{
		border: 2px solid gold;
	}

	100%
	{
		border: 0px solid gold;
	}
}

@keyframes 'level_down'
{
	0%
	{
		border: 0px solid red;
	}

	50%
	{
		border: 2px solid red;
	}

	100%
	{
		border: 0px solid red;
	}
}

.es-root {
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000FF ), color-stop( 0.12, #000000ff ), color-stop( 0.5, #00000022 ), to( #00000000 ) );
	flow-children: down;
}

#es-victory-info,
#es-teams,
#es-buttons {
	animation-name: fade_in;
	animation-duration: 1.25s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

.es-text-red { color: #f03333; }
.es-text-green { color: #72a144; }
.es-text-white { color: #ffffff; }

#es-victory-info { 
	margin-top: 14%;
	margin-bottom: 20px;
	flow-children: down;
	horizontal-align: center;
	text-align: center;
} 

#es-game-time-text,
#es-victory-info-text {
	font-size: 40px;
	color: #fff;
	horizontal-align: center;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px 5 #000;
}

#es-teams {
	height: 700px;
	flow-children: down;
	horizontal-align: center;
	width: 100%;
	padding: 10px 5px 10px 5px;
	overflow:  squish scroll;
}

.es-teams-columns {
	flow-children: right;
	horizontal-align: center;
}

.es-team {
	flow-children: down;
	margin: 10px;
	border-top:  1px solid #3a363a;	
	border-left:  1px solid #3a363a;
	border-bottom: 1px solid #1d2126;	
	border-right: 1px solid #1d2126;
	padding: 20px 0px;
	box-shadow: 0px 0px 12px 0px #000000a5;
	background-color: gradient( linear, 100% 0, 0 0, from( #13161aee ), color-stop( 0.4, #13161a ), to( #2b3139 ) );
}

#es-custom1,
#es-custom2,
#es-custom3,
#es-custom4,
#es-custom5,
#es-custom6,
#es-custom7,
#es-custom8 {
	visibility: collapse;
}

#es-radiant .es-team-name,
#es-dire .es-team-name,
#es-custom1 .es-team-name,
#es-custom2 .es-team-name,
#es-custom3 .es-team-name, {
	text-shadow: 0 0 5px 2.0 #111;
}

#es-radiant .es-team-name {
	color: #326114;
}

#es-dire .es-team-name {
	color: #f03333;
}

#es-custom1 .es-team-name {
	color: #f3c909;
}

#es-custom2 .es-team-name {
	color: #FF6C00;
}

#es-custom3 .es-team-name {
	color: #3455FF;
}

#es-custom4 .es-team-name {
	color: #65d413;
}

#es-custom5 .es-team-name {
	color: #815336;
}

#es-custom6 .es-team-name {
	color: #1bc0d8;
}

#es-custom7 .es-team-name {
	color: #c7e40d;
}

#es-custom8 .es-team-name {
	color: #8c2af4;
}

.es-team-title {
	width: 100%;
}

.es-team-name {
	font-size: 30px;
	color: #fff;
	text-transform: uppercase; 
	horizontal-align: center;
}

.es-team-score {
	font-size: 30px;
	margin-right: 20px;
	color: #fff;
	horizontal-align: right;
}

.es-legend {
	height: 40px;
	flow-children: right;
	padding-left: 284px;
}

.es-legend Label {
	color: #ddd;
	text-align: center;
	vertical-align: center;
	font-size: 16px;
}

.es-legend-gold { width: 50px; }

.es-legend-xp { width: 250px; }

.es-legend-rank { width: 80px; }

.es-legend-xp-diff { width: 70px; }

.es-legend-xp-booster { width: 70px; }

.es-player-root {
	flow-children: right;
	border-top: 2px solid #333;
	padding: 3px 5px;
	background-color: #1c1c1c77;
}

.es-players {
	width: 100%;
	flow-children: down;
}

.es-player-name-and-desc {
	flow-children: down;
	width: 180px;
}

#es-player-name {
	font-size: 18px;
	color: #fff;
	height: 18px;
	margin-top: -3px;
}

#es-player-desc {
	font-size: 12px;
	color: #ccc;
}

.es-player-line-text {
	font-size: 16px;
}

#es-player-avatar {
	border: 1px solid #666;
	height: 30px;
	width: 30px;
	margin-right: 5px;
} 

#es-player-hero {
	border: 1px solid #999;
	height: 30px;
	width: 53px;
	margin-right: 5px;
}
.es-legend-kdalevel {
	width: 30px;
}

.es-player-kdalevel {
	width: 30px;
	vertical-align: center;
	text-align: center;
	color: #eee;
}

#es-player-gold {
	width: 50px;
	vertical-align: center;
	text-align: center;
	color: #ee7;
}

.es-legend-imr,
.es-legend-imr10v10,
.es-legend-imr1v1 {
	width: 60px; 
	margin-right: 15px;
	text-align: center;
	visibility: collapse;
}

#es-player-imr,
#es-player-imr10v10,
#es-player-imr1v1 {
	width: 60px;
	vertical-align: center;
	text-align: center;
	visibility: collapse;
	margin-right: 15px;
	visibility: collapse;
}

.es-player-xp {
	flow-children: none; 
	width: 250px;
	vertical-align: center;
	background-color: black;
	border: 1px solid #222;
	height: 26px;
	box-shadow: 0 0 5px 0 #00000022 inset;
}

.level-up {
	animation-name: level_up;
	animation-duration: 2.0s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
}

.level-down {
	animation-name: level_down;
	animation-duration: 2.0s;
	animation-timing-function: ease-in;
	animation-iteration-count: infinite;
}

#es-player-xp-progress { 

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #006E2E ),  to( #00540E ) );
	border-radius: 1px;
	width: 0%;
	height: 22px;
	transition-property: width;
	transition-duration: 2s;
}

.es-player-xp Label {
	color: #fff;
	width: 100%;
	font-size: 16px;
	vertical-align: center;
	padding: 2px 5px;
}

#es-player-xp-rank { text-align: right; }
#es-player-xp-level { text-align: left; }
#es-player-xp-xp { text-align: right; }

#es-player-xp-rank-name {
	vertical-align: center;
	text-align: center;
}

#es-player-xp-earned,
#es-player-xp-booster {
	width: 70px;
	vertical-align: center;
	text-align: center;
}

#es-buttons {
	flow-children: right;
	horizontal-align: center;
	flow-children: right;
}

#es-buttons Button {
	padding: 7px 25px;
	margin: 10px;
	border: 1px solid #333;
	box-shadow: #111 0 0 4px 0;
}

#es-buttons-stats, #es-buttons-website {
	background-color: #222222ee;
}

#es-buttons-survey {
	background-color: darkorange;
}

#es-buttons-close {
	background-color: green;
}

#es-buttons Label {
	font-size: 20px;
	color: #fff;
}

#es-buttons Button:hover {
	background-color: #333333ee;
}

#es-buttons Button:active {
	background-color: #222222ff;
	border: 1px transparent;
	box-shadow: none;
}