.addon-root {
	width: 100%;
	height: 100%;
}

.down {
	padding: 0;
	margin: 0;
	flow-children: down;
	width: 100%;
}

.large {
	font-size: 28px;
}

.huge {
	font-size: 36px;
}

.normal {
	font-size: 20px;
}

.small {
	font-size: 12px;
}

#imba-loading {
	flow-children: down;
	width: 100%;
	height: 100%;
	background-color: black;
	background-position: center center;
	background-size: cover;
	background-image: url("file://{images}/custom_game/loading_screen/fundamentals.jpg");
}

#imba-loading-title {
	padding: 60px 80px;
	flow-children: right;
	width: 70%;
}
@keyframes 'logo_animation' 
{
	0% {
		transform: scaleX(1) scaleY(1);
	}
  
	50% {
		transform: scaleX(1.1) scaleY(1.1);
	}

	100% {
		transform: scaleX(1) scaleY(1);
	}
	
  }

#imba-loading-title-logo {
	width: 140px; height: 100px;
	animation-name: logo_animation;
	animation-duration: 7.0s;
	animation-timing-function: linear;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

#imba-loading-title-text {
	margin: 25px 40px 10px;
	font-size: 36px;
	color: #367498;
}

#imba-loading-content-text {
	margin: 0px 40px;
	font-size: 20px;
	width: 100%;
}

#imba-loading-map-text {
	margin: 0px 40px 40px;
	font-size: 24px;
}

#imba-loading-link {
	margin: 0px 40px;
}

#imba-loading-link-text {
	font-size: 24px;
}

#imba-loading-link-text:hover {
	text-decoration: underline;
}

#ImbaLoadingSocial {
	margin-left: 260px;
	overflow: scroll;
	flow-children: down;
} 

#ImbaLoadingSocial Panel {
	flow-children: right;
}

#ImbaLoadingSocial Button:hover {
	box-shadow: 0 0 7px #333;
}

#ImbaLoadingSocial Button {
	border: 1px solid #333;
	padding: 5px 20px 3px;
	margin: 4px 12px 4px 0px;
	box-shadow: 0 0 5px  #222;
}

#ImbaLoadingSocial Label {
	font-size: 22px;
	color: #fff;
}

#ImbaLoadingSocialOfficialWebsite { background-color: #333; }
#ImbaLoadingSocialFacebook { background-color: #11a; }
#ImbaLoadingSocialTwitter { background-color: #0D91E2; }
#ImbaLoadingSocialTwitter Label { color: #fff; }
#ImbaLoadingSocialPatreon { background-color: #d40; }
#ImbaLoadingSocialDiscordEn { background-color: #7289DA; }
#ImbaLoadingSocialDiscordRu { background-color: #7289DA; }
#ImbaLoadingSocialTencent { background-color: #f00; }
