@define ANIM_TIME: 0.75s;

.CustomHudRoot
{
	width: 100%;
	height: 100%;
}

#TopBarScoreboard
{
	horizontal-align: center;
	vertical-align: top;
}

#ScoreboardContainer
{
	flow-children: right;
	horizontal-align: center;
	vertical-align: top;
}

#MultiteamScoreboard
{
	horizontal-align: center;
	vertical-align: top;
	height: 250px;

	flow-children: right;
}

.ScoreboardTeamWrapper
{
	height: 100%;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	transition-property: position;
	transition-duration: ANIM_TIME;
	margin-left: -50px;
	margin-right: -50px;
}

#TeamLogo
{
	horizontal-align: left;
	vertical-align: top;
	width: 24px;
	height: 24px;
}

.ScoreboardTeamWrapper.no_players
{
	visibility: collapse;
}

#ScoreboardTeam
{
	margin-left: 100px;
	margin-right: 100px;
	padding-left: 2px;
	padding-right: 2px;
}

.AspectRatio4x3 .ScoreboardTeamWrapper, .AspectRatio5x4 .ScoreboardTeamWrapper
{
	padding-left: -5px;
	padding-right: -5px;
}

#LogoAndScore
{
	height: 100%;
	width: 64px;
}

#TeamScore
{
	vertical-align: bottom;
	horizontal-align: left;
	color: white;
	font-size: 24px;
	font-weight: bold;
	text-shadow: 4px 4px 4px black;
	margin-bottom: -2px;
	text-overflow: clip;
}

#TeamDarkenWash
{
	width: 100%;
	height: 42px;
	background-color: gradient( linear, 25px 0%, 40px 0%, from( black ), to( transparent ) );
}

#TeamStatus
{
	width: 100%;
	height: 100%;
}

#PlayersContainer
{
	padding-left: 24px;
	flow-children: right;
}

#TeamColorBar
{
}

#TeamOverlayBar
{
	width: 100%;
	height: 48px;
}

.ScoreboardTeamWrapper.local_player_team #TeamOverlayBar
{
}

#LocalTeamOverlay
{
	width: 100%;
	height: 43px;
}

.ScoreboardTeamWrapper.local_player_team #LocalTeamOverlay
{
	box-shadow: -3px -3px 12px 6px #FFFFFF88;
}

.ScoreboardPlayer
{
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.ScoreboardPlayerWrapper
{
}

.FlowDown
{
	flow-children: down;
}

.ScoreboardPlayerWrapper.is_local_player
{
}

.PlayerPortraitWrapper
{
	flow-children: down;
}

#PlayerColorBar
{
	height: 6px;
	width: 100%;
	border-bottom: 1px solid #000000;
}

#HeroIcon
{
	width: 64px;
	height: 36px;
}

.AspectRatio16x10 #HeroIcon
{
	width: 58px;
}

.AspectRatio4x3 #HeroIcon
{
	width: 46px;
}

.player_dead #HeroIcon
{
	wash-color: #CCCCCC;
	saturation: 0;
}

.player_connection_abandoned #HeroIcon
{
	wash-color: #FF0000;
	saturation: 0;
}

#DisconnectionIndicator
{
	opacity: 0;
	width: 100%;
	height: 18px;
	vertical-align: top;
	margin-top: 24px;
}

.player_connection_abandoned #DisconnectionIndicator,
.player_connection_failed #DisconnectionIndicator,
.player_connection_disconnected #DisconnectionIndicator
{
	opacity: 1;
}

#ScoreRow
{
	width: 100%;
}

#RespawnIndicator
{
	margin-top: 26px;
	width: 42px;
	height: 49px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/custom_game/deathtimer_background_psd.vtex");
	horizontal-align: center;
	transform: translateY(-30px);
	opacity: 0;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

#RespawnTimer
{
	color: #e5460e;
	width: 100%;
	text-align: center;
	vertical-align: bottom;
	margin-bottom: 4px;
	font-size: 18px;
	text-shadow: 2px 2px 2px black;
}

.ScoreboardPlayerWrapper.player_dead #RespawnIndicator
{
	opacity: 1;
	transform: translateY(0px);
}

#LocalPlayerIndicator
{
	horizontal-align: center;
	vertical-align: bottom;
	visibility: collapse;
	width: 40px;
	height: 20px;
}

#UltimateIndicatorContainer
{
	horizontal-align: center;
	width: 20px;
	height: 20px;
	margin-top: 32px;
}

.player_ultimate_not_leveled #UltimateIndicatorContainer
{
	visibility: collapse;
}

.not_local_player_team #UltimateIndicatorContainer
{
	visibility: collapse;
}

.UltimateIndicatorShared
{
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.is_local_player #LocalPlayerIndicator
{
	visibility: visible;
}
