@define BACKGROUND_COLOR: #000000;

.EndScreenRoot
{
	width: 100%;
	height: 100%;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #000000FF ), color-stop( 0.12, #000000ff ), color-stop( 0.5, #00000022 ), to( #00000000 ) );
}

#VictoryRow
{
	flow-children: right;
	horizontal-align: center;

	transition-property: opacity, transform;
	transition-duration: 1s;
	opacity: 0;
	transform: scaleX(0) scaleY(0) translatey(-50px);
}

.endgame #VictoryRow
{
	opacity: 1;
	transform: scaleX(1) scaleY(1);
}

#EndScreenVictory
{
	font-size: 64px;
	color: #cccccc;
	vertical-align: center;

	text-transform: uppercase;
}

.EndScreenWindow
{
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 10%;
	flow-children: down;
}

.AspectRatio4x3 .EndScreenWindow, .AspectRatio5x4 .EndScreenWindow
{
	margin-right: 50px;
}

.EndScreenVictoryRow
{
	width: 100%;
}

#ButtonsContainer
{
	flow-children: right;
	width: 800px;
	height: 90px;
	horizontal-align: center;
}

#FeedButton,
#CloseButton
{
	width: 45%;
	margin-top: 60%;
	margin-left: 5%;
	background-color: #000000da;
	border: 3px solid #4d5051;
	border-radius: 5px;
	horizontal-align: center;
	vertical-align: top;
}

#FeedButton:hover
{
	border: 3px solid orange;
}

#CloseButton:hover
{
	border: 3px solid white;
}

#FeedButton Label,
#CloseButton Label
{
	horizontal-align: center;
	vertical-align: center;
	color: #6f6f6f;
	text-transform: uppercase;
	text-align: center center;
}

#FeedButton:hover Label,
#CloseButton:hover Label
{
	color: white;
}

.FlyoutScoreboardRoot.flyout_scoreboard_visible
{
	transform: translatey( 0px );
}

#TeamsContainer
{
	horizontal-align: right;
	flow-children: right;
}

.AspectRatio4x3 #TeamsContainer
{
	horizontal-align: center;
	flow-children: down;
}

.FlyoutTeam
{
	margin-top: 3px;
	margin-bottom: 3px;

	transition-property: opacity, transform;
	transition-duration: 0.5s;
	opacity: 0;
	transform: translatey(-50px);
	
	margin-right: 8px;
}

.FlyoutTeam.local_player_team
{
}

.FlyoutTeam.team_endgame
{
	opacity: 1;
	transform: translatey(0px);
}

.FlyoutTeam.no_players
{
	visibility: collapse;
}

.FlyoutTeamData
{
	flow-children: right;
}

.TeamInfo
{
	margin-top: 1px;
	height: 100%;
}

#TeamColor_GradentFromTransparentLeft
{
	width: 100%;
	height: 100%;
}

.FlyoutPlayer
{ 
	flow-children: right;
}

.TeamCloseSpacer
{
}

#PlayersContainer
{
	flow-children: down;
}

.local_player_team #PlayersContainer
{
	box-shadow: fill #ffffff40 -3px -3px 3px 6px;
}

.TeamId
{
	flow-children: right;
}

#TeamScorePanel
{
	margin-top: 1px;
	margin-left: 217px;
	width: 69px;
	height: 100%;
	background-color: BACKGROUND_COLOR;
}

.AspectRatio4x3 #TeamScorePanel
{
	margin-left: 216px;
}

.AspectRatio16x9 #TeamScorePanel
{
	margin-left: 216px;
}

#TeamScore
{
	vertical-align: center;
	horizontal-align: center;
	color: #cccccc;
	font-size: 42px;
	text-shadow: 2px 2px 2px black;
	font-weight: bold;
	margin-top: -2px;
}

.one_player #TeamScore
{
	font-size: 30px;
}

.local_player_team #TeamScore
{
	color: white;
}

.Legends
{
	width: 100%;
	horizontal-align: center;
	flow-children: right;
}

#Legend1
{
	flow-children: right;
	horizontal-align: right;
}

#Legend2
{
	flow-children: right;
	horizontal-align: left;
}

.AspectRatio4x3 #Legend1
{
	visibility: collapse;
}

#Legend1 Label,
#Legend2 Label
{
	text-transform: uppercase;
	font-size: 12px;
	color: #90999b;
}

.PlayerRow
{
	height: 32px;
}

#PlayerRowContainer
{
	flow-children: right;
	height: 32px;
}

#HeroIcon
{
	vertical-align: middle;
	border: 1px solid black;
}

#LevelContainer,
#KillsContainer,
#DeathsContainer,
#AssistsContainer
{
	height: 100%;
}

.ScoreboardPanel
{
	background-color: BACKGROUND_COLOR;
	margin-top: 1px;
	margin-left: 1px;
	height: 100%;
}

.LegendPanel
{
	margin-top: 1px;
	margin-left: 1px;
}

.ScoreboardPanel Label
{
	font-size: 30px;
	text-shadow: 2px 2px 2px black;
	margin-top: -2px;
}

.UltimateIndicatorShared
{
	margin-left: 44px;
	margin-top: 2px;
	vertical-align: center;
	width: 20px;
	height: 20px;
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#Level
{
	vertical-align: middle;
	horizontal-align: center;
	color: #898b8c;
}

#Kills,
#Deaths,
#Assists,
#PlayerGoldAmount
{
	horizontal-align: center;
	vertical-align: center;
	text-align: center;
	font-size: 20px;
	margin-top: 3px;
}

#PlayerName
{
	font-size: 13px;
	font-weight: bold;
	margin-bottom: -4px;
	margin-top: 0px;
	padding-left: 4px;
	color: #cccccc;
	white-space: nowrap;
}

#HeroNameAndDescription
{
	padding-left: 4px;
	font-size: 12px;
	text-shadow: 2px 2px 2px black;
	margin-bottom: 1px;
	color: #999999;
	vertical-align: bottom;
}

#PlayerDetailsContainer
{
	height: 100%;
}

#PlayerAndHeroName
{
	height: 100%;
}

.is_local_player Label
{
	color: white;
}

.ScoreCol_PlayerDetails
{
	width: 160px;
}

.ScoreCol_TeamScore
{
	width: 70px;
	text-align: center;
}

.ScoreCol_Hero
{
	width: 53px;
}

.ScoreCol_Level
{
	width: 50px;
	text-align: center;
}

.ScoreCol_Kills,
.ScoreCol_Deaths,
.ScoreCol_Assists
{
	width: 30px;
	text-align: center;
}

.ScoreCol_ImbaXP
{
	width: 160px;
	text-align: center;
}

.ScoreCol_Items
{
	width: 238px;
	text-align: center;
}

#PlayerItemsContainer
{
	flow-children: right;
}

#PlayerItemsContainer Image,
#PlayerItemsContainer DOTAItemImage
{
	margin: 1px;
	width: 37.5px;
	height: 29px;
	background-color: BACKGROUND_COLOR;
	background-size: 100% 100%;
	background-position: 50% 50%;
}

.ScoreCol_Gold
{
	width: 70px;
	text-align: center;
}

#ImbaLvl0,
#ImbaLvl1,
#ImbaLvl2,
#ImbaLvl3,
#ImbaLvl4,
#ImbaLvl5,
#ImbaLvl6,
#ImbaLvl7,
#ImbaLvl8,
#ImbaLvl9,
#ImbaLvl10,
#ImbaLvl11,
#ImbaLvl12,
#ImbaLvl13,
#ImbaLvl14,
#ImbaLvl15,
#ImbaLvl16,
#ImbaLvl17,
#ImbaLvl18,
#ImbaLvl19
{
	font-size: 16px;
	margin-top: 4px;
	margin-right: 55%;
	margin-left: 8%;
	width: 100%;
	color: white;
	vertical-align: center;
	horizontal-align: center;
	opacity: 1.0;
}

#ImbaXP0,
#ImbaXP1,
#ImbaXP2,
#ImbaXP3,
#ImbaXP4,
#ImbaXP5,
#ImbaXP6,
#ImbaXP7,
#ImbaXP8,
#ImbaXP9,
#ImbaXP10,
#ImbaXP11,
#ImbaXP12,
#ImbaXP13,
#ImbaXP14,
#ImbaXP15,
#ImbaXP16,
#ImbaXP17,
#ImbaXP18,
#ImbaXP19
{
	margin-top: 4px;
	margin-left: 40%;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	color: white;
	vertical-align: center;
	horizontal-align: center;
	opacity: 0.75;
}

#ImbaXPRank0,
#ImbaXPRank1,
#ImbaXPRank2,
#ImbaXPRank3,
#ImbaXPRank4,
#ImbaXPRank5,
#ImbaXPRank6,
#ImbaXPRank7,
#ImbaXPRank8,
#ImbaXPRank9,
#ImbaXPRank10,
#ImbaXPRank11,
#ImbaXPRank12,
#ImbaXPRank13,
#ImbaXPRank14,
#ImbaXPRank15,
#ImbaXPRank16,
#ImbaXPRank17,
#ImbaXPRank18,
#ImbaXPRank19
{
	visibility: collapse;
}

#XPProgressBar0,
#XPProgressBar1,
#XPProgressBar2,
#XPProgressBar3,
#XPProgressBar4,
#XPProgressBar5,
#XPProgressBar6,
#XPProgressBar7,
#XPProgressBar8,
#XPProgressBar9,
#XPProgressBar10,
#XPProgressBar11,
#XPProgressBar12,
#XPProgressBar13,
#XPProgressBar14,
#XPProgressBar15,
#XPProgressBar16,
#XPProgressBar17,
#XPProgressBar18,
#XPProgressBar19
{
	width: 95%;
	border-radius: 4px;
	border: 3px solid #444;
	background-color: black;
	height: 24px;
	vertical-align: center;
	horizontal-align: center;
	box-shadow: fill #000 -3px -3px 6px 6px;
}

#XPProgressBar0_Left,
#XPProgressBar1_Left,
#XPProgressBar2_Left,
#XPProgressBar3_Left,
#XPProgressBar4_Left,
#XPProgressBar5_Left,
#XPProgressBar6_Left,
#XPProgressBar7_Left,
#XPProgressBar8_Left,
#XPProgressBar9_Left,
#XPProgressBar10_Left,
#XPProgressBar11_Left,
#XPProgressBar12_Left,
#XPProgressBar13_Left,
#XPProgressBar14_Left,
#XPProgressBar15_Left,
#XPProgressBar16_Left,
#XPProgressBar17_Left,
#XPProgressBar18_Left,
#XPProgressBar19_Left
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #326114 ), color-stop( 0.3, #54BA07 ), color-stop( .5, #54BA07 ), to( #326114 ) );
	box-shadow: inset #000 1px 1px 3px 3px;	
	border-radius: 2px;
}

#XPProgressBar0_Left,
#XPProgressBar1_Left,
#XPProgressBar2_Left,
#XPProgressBar3_Left,
#XPProgressBar4_Left,
#XPProgressBar5_Left,
#XPProgressBar6_Left,
#XPProgressBar7_Left,
#XPProgressBar8_Left,
#XPProgressBar9_Left,
#XPProgressBar10_Left,
#XPProgressBar11_Left,
#XPProgressBar12_Left,
#XPProgressBar13_Left,
#XPProgressBar14_Left,
#XPProgressBar15_Left,
#XPProgressBar16_Left,
#XPProgressBar17_Left,
#XPProgressBar18_Left,
#XPProgressBar19_Left
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #326114 ), color-stop( 0.3, #18BE23 ), color-stop( .5, #18BE23 ), to( #01410E ) );
}

#XPProgressBar0_Right,
#XPProgressBar1_Right,
#XPProgressBar2_Right,
#XPProgressBar3_Right,
#XPProgressBar4_Right,
#XPProgressBar5_Right,
#XPProgressBar6_Right,
#XPProgressBar7_Right,
#XPProgressBar8_Right,
#XPProgressBar9_Right,
#XPProgressBar10_Right,
#XPProgressBar11_Right,
#XPProgressBar12_Right,
#XPProgressBar13_Right,
#XPProgressBar14_Right,
#XPProgressBar15_Right,
#XPProgressBar16_Right,
#XPProgressBar17_Right,
#XPProgressBar18_Right,
#XPProgressBar19_Right
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #222222FF ), to( black ) );
}

#XPProgressBarContainer0,
#XPProgressBarContainer1,
#XPProgressBarContainer2,
#XPProgressBarContainer3,
#XPProgressBarContainer4,
#XPProgressBarContainer5,
#XPProgressBarContainer6,
#XPProgressBarContainer7,
#XPProgressBarContainer8,
#XPProgressBarContainer9,
#XPProgressBarContainer10,
#XPProgressBarContainer11,
#XPProgressBarContainer12,
#XPProgressBarContainer13,
#XPProgressBarContainer14,
#XPProgressBarContainer15,
#XPProgressBarContainer16,
#XPProgressBarContainer17,
#XPProgressBarContainer18,
#XPProgressBarContainer19
{
	vertical-align: bottom;
	height: 40px;
	width: 100%;
}

#ImbaXPEarned0,
#ImbaXPEarned1,
#ImbaXPEarned2,
#ImbaXPEarned3,
#ImbaXPEarned4,
#ImbaXPEarned5,
#ImbaXPEarned6,
#ImbaXPEarned7,
#ImbaXPEarned8,
#ImbaXPEarned9,
#ImbaXPEarned10,
#ImbaXPEarned11,
#ImbaXPEarned12,
#ImbaXPEarned13,
#ImbaXPEarned14,
#ImbaXPEarned15,
#ImbaXPEarned16,
#ImbaXPEarned17,
#ImbaXPEarned18,
#ImbaXPEarned19
{
	margin-top: 4px;
	margin-left: 77%;
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	color: white;
	vertical-align: center;
	horizontal-align: center;
	opacity: 0.75;
//	visibility: collapse;
}