
.FlyoutScoreboardRoot
{
	horizontal-align: left;
	vertical-align: top;
	margin-top: 70px;
	flow-children: down;

	transform: translatex( -1000px );
	transition-property: transform;
	transition-duration: 0.15s;
}

.ScoreCol_DisplayPic DOTAAvatarImage
{
	height: 32px;
	width: 32px;
	vertical-align: middle;
}

.FlyoutScoreboardRoot.flyout_scoreboard_visible
{
	transform: translatey( 0px );
}

.Legend
{
	flow-children: right;
	background-color : #444b57cc;
	width: 100%;
}

.LegendPanel
{
	margin-top: 1px;
	margin-left: 1px;
}

.Legend Label
{
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #afd2e3;
	padding-top: 8px;
	height: 32px;
	text-align: center;
}

.ScoreCol_DisplayPic,
.ScoreCol_HeroPic,
.ScoreCol_TeamScore,
#PlayerColorBar
{
	margin-right: 6px;
}

#PlayerColorBar
{
	align : left center;
	height: 100%;
}

.ScoreCol_TeamScore
{
	width: 48px;
}

.ScoreCol_DisplayPic
{
	flow-children: right;
	width: 43px;
}

.ScoreCol_TeamName
{
	width: 210px;
}

.ScoreCol_HeroPic
{
	width: 54px;
}

.ScoreCol_PlayerDetails
{
	width: 140px;
}

.ScoreCol_HeroLevel
{
	width: 60px;
}

.ScoreCol_ImbaXP
{
	width: 220px;
}

.ScoreCol_Gold
{
	width: 90px;
}

.ScoreCol_Kills,
.ScoreCol_Deaths,
.ScoreCol_Assists
{
	width: 30px;
}

.ScoreCol_Ultimate
{
	width: 40px;
}

.ScoreCol_Buttons
{
	width: 110px;
	vertical-align: center;
	flow-children: right;
}

.spectator_view .ScoreCol_Buttons
{
	width: 25px;
}

#TeamsContainer
{
	flow-children: down;
	horizontal-align: left;
}

.FlyoutTeamData
{
	margin-top: -30px;
	flow-children: right;
	height: 50px;
}

.FlyoutPlayer
{ 
	flow-children: right;
}

#PlayersContainer
{
	flow-children: down;
	padding-bottom: 30px;
	background-color: #262c36bb;
}

#TeamScore,
#TeamName
{
	color: #ffffff;
	font-size: 28px;
	text-shadow: 0px 0px 8px #587648;
	font-weight: bold;
}

#TeamScore,
{
	horizontal-align: center;
}

.PlayerRow
{
	height: 32px;
	margin-bottom: 2px;
	background-color: #21272fbb;
}

.is_local_player #PlayerRowContainer
{
	background-color: #111111bb;
}

#PlayerRowContainer
{
	flow-children: right;
	height: 100%;
}

#PlayerColorBar
{
	width: 5px;
	height: 100%;
}

#HeroIcon
{
	vertical-align: middle;
	border: 1px solid #ffffff22;
}

#LevelContainer,
#KillsContainer,
#DeathsContainer,
#AssistsContainer
{
	height: 100%;
}

.ScoreboardPanel
{
	height : 100%;
	margin-top: 1px;
	margin-left: 1px;
}

.ScoreboardPanel Label
{
	font-size: 30px;
	text-align: center;
	horizontal-align: center;
}

.UltimateIndicatorShared
{
	margin-top: 4px;
	height: 30px;
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#Level
{
	vertical-align: center;
	horizontal-align: center;
	color: #acacac;
	font-weight: bold;
	font-size: 26px;
}

#Kills,
#Deaths,
#Assists
{
	vertical-align: center;
	font-size: 18px;
	margin-top: 3px;
	width: 100%;
	color: #acacac;
}

#ImbaXPRank0,
#ImbaXPRank1,
#ImbaXPRank2,
#ImbaXPRank3,
#ImbaXPRank4,
#ImbaXPRank5,
#ImbaXPRank6,
#ImbaXPRank7,
#ImbaXPRank8,
#ImbaXPRank9,
#ImbaXPRank10,
#ImbaXPRank11,
#ImbaXPRank12,
#ImbaXPRank13,
#ImbaXPRank14,
#ImbaXPRank15,
#ImbaXPRank16,
#ImbaXPRank17,
#ImbaXPRank18,
#ImbaXPRank19
{
	width: 100%;
	margin-right: 5%;
	font-size: 16px;
	font-weight: bold;
	color: white;
	vertical-align: center;
	horizontal-align: center;
	opacity: 0.75;
}

#ImbaXP0,
#ImbaXP1,
#ImbaXP2,
#ImbaXP3,
#ImbaXP4,
#ImbaXP5,
#ImbaXP6,
#ImbaXP7,
#ImbaXP8,
#ImbaXP9,
#ImbaXP10,
#ImbaXP11,
#ImbaXP12,
#ImbaXP13,
#ImbaXP14,
#ImbaXP15,
#ImbaXP16,
#ImbaXP17,
#ImbaXP18,
#ImbaXP19
{
	margin-top: 3px;
	margin-left: 62%;
	width: 100%;
	font-size: 17px;
	font-weight: bold;
	color: white;
	vertical-align: center;
	horizontal-align: center;
	opacity: 0.75;
}

#ImbaXPEarned0,
#ImbaXPEarned1,
#ImbaXPEarned2,
#ImbaXPEarned3,
#ImbaXPEarned4,
#ImbaXPEarned5,
#ImbaXPEarned6,
#ImbaXPEarned7,
#ImbaXPEarned8,
#ImbaXPEarned9,
#ImbaXPEarned10,
#ImbaXPEarned11,
#ImbaXPEarned12,
#ImbaXPEarned13,
#ImbaXPEarned14,
#ImbaXPEarned15,
#ImbaXPEarned16,
#ImbaXPEarned17,
#ImbaXPEarned18,
#ImbaXPEarned19
{
	visibility: collapse;
}

#ImbaLvl0,
#ImbaLvl1,
#ImbaLvl2,
#ImbaLvl3,
#ImbaLvl4,
#ImbaLvl5,
#ImbaLvl6,
#ImbaLvl7,
#ImbaLvl8,
#ImbaLvl9,
#ImbaLvl10,
#ImbaLvl11,
#ImbaLvl12,
#ImbaLvl13,
#ImbaLvl14,
#ImbaLvl15,
#ImbaLvl16,
#ImbaLvl17,
#ImbaLvl18,
#ImbaLvl19
{
	font-size: 17px;
	font-weight: bold;
	margin-top: 3px;
	margin-right: 70%;
	width: 100%;
	color: white;
	vertical-align: center;
	horizontal-align: center;
	opacity: 0.75;
}

#PlayerAndHeroName
{
	padding-top: 1px;
	padding-bottom: 1px;
}

#PlayerName
{
	color: white;
	font-size: 14px;
	margin-top: 0px;
	white-space: nowrap;
}

#HeroNameAndDescription
{
	color: #898b8c;
	font-size: 13px;
}

#TeammateGoldAmount
{
	margin-bottom: -2px;
	vertical-align: bottom;
	horizontal-align: center;
	font-size: 25px;
	font-weight: bold;
	color: #ffcc33;
	visibility: collapse;
	text-decoration: underline;
}

.is_local_player .ScoreCol_Buttons Button
{
	visibility: collapse;
}

.ScoreCol_Buttons Button
{
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: contain;
	vertical-align: middle;
}

#BtnMuteVoice
{
	background-image: url("file://{images}/custom_game/mute_voice_off.png");
}

#BtnShareUnit
{
	background-image: url("file://{images}/custom_game/share_unit_off.png");
	visibility: collapse;
}

#BtnShareHero
{
	background-image: url("file://{images}/custom_game/share_hero_off.png");
	visibility: collapse;
}

#BtnDisableHelp
{
	background-image: url("file://{images}/custom_game/disable_help_off.png");
	visibility: collapse;
}

.local_player_teammate #BtnShareUnit,
.local_player_teammate #BtnShareHero,
.local_player_teammate #BtnDisableHelp,
{
	visibility: visible;
}

#BtnMuteVoice.Activated
{
	background-image: url("file://{images}/custom_game/mute_voice_on.png");
}

#BtnShareUnit.Activated
{
	background-image: url("file://{images}/custom_game/share_unit_on.png");
}

#BtnShareHero.Activated
{
	background-image: url("file://{images}/custom_game/share_hero_on.png");
}

#BtnDisableHelp.Activated
{
	background-image: url("file://{images}/custom_game/disable_help_on.png");
}


.local_player_team #TeammateGoldAmount,
.spectator_view #TeammateGoldAmount
{
	visibility: visible;
}

#PlayerDetailsContainer
{
	height: 100%;
}

#PlayerAndHeroName
{
	flow-children: down;
	padding-left: 8px;
}

.is_local_player #Kills,
.is_local_player #Deaths,
.is_local_player #Assists,
.is_local_player #Level,
.is_local_player #HeroName
{
	color: white;
}

#XPProgressBar0,
#XPProgressBar1,
#XPProgressBar2,
#XPProgressBar3,
#XPProgressBar4,
#XPProgressBar5,
#XPProgressBar6,
#XPProgressBar7,
#XPProgressBar8,
#XPProgressBar9,
#XPProgressBar10,
#XPProgressBar11,
#XPProgressBar12,
#XPProgressBar13,
#XPProgressBar14,
#XPProgressBar15,
#XPProgressBar16,
#XPProgressBar17,
#XPProgressBar18,
#XPProgressBar19
{
	width: 100%;
	border-radius: 4px;
	border: 3px solid #444;
	background-color: black;
	height: 24px;
	vertical-align: middle;
	horizontal-align: right;
	box-shadow: fill #000 -3px -3px 6px 6px;
}

#XPProgressBar0_Left,
#XPProgressBar1_Left,
#XPProgressBar2_Left,
#XPProgressBar3_Left,
#XPProgressBar4_Left,
#XPProgressBar5_Left,
#XPProgressBar6_Left,
#XPProgressBar7_Left,
#XPProgressBar8_Left,
#XPProgressBar9_Left,
#XPProgressBar10_Left,
#XPProgressBar11_Left,
#XPProgressBar12_Left,
#XPProgressBar13_Left,
#XPProgressBar14_Left,
#XPProgressBar15_Left,
#XPProgressBar16_Left,
#XPProgressBar17_Left,
#XPProgressBar18_Left,
#XPProgressBar19_Left
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #326114 ), color-stop( 0.3, #54BA07 ), color-stop( .5, #54BA07 ), to( #326114 ) );
	box-shadow: inset #000 1px 1px 3px 3px;	
	border-radius: 2px;
}

#XPProgressBar0_Left,
#XPProgressBar1_Left,
#XPProgressBar2_Left,
#XPProgressBar3_Left,
#XPProgressBar4_Left,
#XPProgressBar5_Left,
#XPProgressBar6_Left,
#XPProgressBar7_Left,
#XPProgressBar8_Left,
#XPProgressBar9_Left,
#XPProgressBar10_Left,
#XPProgressBar11_Left,
#XPProgressBar12_Left,
#XPProgressBar13_Left,
#XPProgressBar14_Left,
#XPProgressBar15_Left,
#XPProgressBar16_Left,
#XPProgressBar17_Left,
#XPProgressBar18_Left,
#XPProgressBar19_Left
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #326114 ), color-stop( 0.3, #18BE23 ), color-stop( .5, #18BE23 ), to( #01410E ) );
}

#XPProgressBar0_Right,
#XPProgressBar1_Right,
#XPProgressBar2_Right,
#XPProgressBar3_Right,
#XPProgressBar4_Right,
#XPProgressBar5_Right,
#XPProgressBar6_Right,
#XPProgressBar7_Right,
#XPProgressBar8_Right,
#XPProgressBar9_Right,
#XPProgressBar10_Right,
#XPProgressBar11_Right,
#XPProgressBar12_Right,
#XPProgressBar13_Right,
#XPProgressBar14_Right,
#XPProgressBar15_Right,
#XPProgressBar16_Right,
#XPProgressBar17_Right,
#XPProgressBar18_Right,
#XPProgressBar19_Right
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #222222FF ), to( black ) );
}

#XPProgressBarContainer0,
#XPProgressBarContainer1,
#XPProgressBarContainer2,
#XPProgressBarContainer3,
#XPProgressBarContainer4,
#XPProgressBarContainer5,
#XPProgressBarContainer6,
#XPProgressBarContainer7,
#XPProgressBarContainer8,
#XPProgressBarContainer9,
#XPProgressBarContainer10,
#XPProgressBarContainer11,
#XPProgressBarContainer12,
#XPProgressBarContainer13,
#XPProgressBarContainer14,
#XPProgressBarContainer15,
#XPProgressBarContainer16,
#XPProgressBarContainer17,
#XPProgressBarContainer18,
#XPProgressBarContainer19
{
	vertical-align: bottom;
	height: 40px;
	width: 100%;
}