.CustomHudRoot
{
	width: 100%;
	height: 100%;
}

#TopBarScoreboard
{
    horizontal-align: center;
    vertical-align: top;
	width: 83%;
}

.AspectRatio4x3 #TopBarScoreboard,
.AspectRatio5x4 #TopBarScoreboard
{
	margin-top: -2px;
}

.AspectRatio16x10 #TopBarScoreboard
{
	margin-top: -4px;
}

#ScoreboardContainer
{
    horizontal-align: left;
    vertical-align: top;
	width: 100%;
}

#MultiteamScoreboard
{
    height: 80px;
	width: 100%;
}

.ScoreboardTeamWrapper
{
	width: 50%;
    height: 100%;
}

#ScoreboardCenter
{
	horizontal-align: center;
	flow-children: down;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("s2r://panorama/images/custom_game/scoreboard_center_wedge_psd.vtex");
	horizontal-align: center;
	width: 128px;
	height: 62px;
	margin-top: -2px;
}

#ScoreboardGoal
{
	horizontal-align: center;
	color: white;
    font-size: 28px;
    font-weight: bold;
	margin-top: -2px;
    text-shadow: 0px 4px 4px black;
    text-overflow: clip;
}

#ScoreboardCurrentTime
{
	min-width: 46px;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	color: #6f4d00;
	margin-top: -8px;
	horizontal-align: center;
	text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-overflow: clip;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #E9D048 ), color-stop( 0.5, #ffffff), color-stop( 0.5, #E3C948 ), to( #D7B129 ) );
	box-shadow: #60000Caa -2px -2px 4px 4px;
	border-radius: 4px;
}

#ScoreboardTeam
{
	padding-left: 5px;
	padding-right: 5px;
	flow-children: right;
}

#_dynamic_team_2
{
	horizontal-align: left;
}

#_dynamic_team_3
{
	horizontal-align: right;
}

.AspectRatio4x3 .ScoreboardTeamWrapper,
.AspectRatio5x4 .ScoreboardTeamWrapper
{
	padding-left: 0px;
	padding-right: 0px;
}

.ScoreboardTeamWrapper.local_player_team #ScoreboardTeam
{
}

#LogoAndScore
{
    height: 100%;
	width: 100px;
	padding-right: 4px;
	padding-left: 4px;
}

.ConquestScore
{
	width: 40%;
	height: 100%;
	vertical-align: top;
	horizontal-align: center;
	margin-top: 3px;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 4px 4px 4px black;
	margin-bottom: -2px;
    text-overflow: clip;
	color: #ff5f42;
 	padding-right: 8px;
 	padding-left: 8px;
}

.local_player_team .ConquestScore
{
    color: #46C42D;
}

.ColorBlindModeEnabled .local_player_team .ConquestScore
{
	color: #3b6cd0;
}

#ConquestScore_Radiant
{
	horizontal-align: left;
	visibility: collapse;
}

#ConquestScore_Dire,
#ConquestScore_Custom1,
#ConquestScore_Custom2,
#ConquestScore_Custom3
{
	horizontal-align: right;
	visibility: collapse;
}

.CustomHudRoot.radiant_earning_points #ConquestScore_Radiant,
.CustomHudRoot.dire_earning_points #ConquestScore_Dire
{
	color: #FF5F42;
	text-shadow: 0px 0px 6px 1.0 #ff0000aa;
	animation-name: PulseScoreAnim;
	animation-duration: 1.1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

.CustomHudRoot.radiant_earning_points .local_player_team #ConquestScore_Radiant,
.CustomHudRoot.dire_earning_points .local_player_team #ConquestScore_Dire
{
	color: #9FFF8B;
	text-shadow: 0px 0px 6px 1.0 #00ff00aa;
}

.ColorBlindModeEnabled .CustomHudRoot.radiant_earning_points .local_player_team #ConquestScore_Radiant,
.ColorBlindModeEnabled .CustomHudRoot.dire_earning_points .local_player_team #ConquestScore_Dire
{
	color: #7bacff;
	text-shadow: 0px 0px 6px 1.0 #208bff;
}

@keyframes 'x' {}
@keyframes 'PulseScoreAnim'
{
	0%
	{
		brightness: 1;
	}

	50%
	{
		brightness: 2.5;
	}

	100%
	{
		brightness: 1;
	}
}

#TeamPadding
{
	width: fill-parent-flow(1);
}

#_dynamic_team_2 #TeamScore
{
	horizontal-align: left;
	margin-left: 5px;
//	color: #70e770;
}

#_dynamic_team_3 #TeamScore
{
	horizontal-align: right;
	margin-right: 5px;
//	color: #d16a4f;
}

#TeamStatus
{
    width: 100%;
    height: 100%;
}

#PlayersContainer
{
    flow-children: right;
}

#TeamColorBar
{
}

#TeamOverlayBar
{
    width: 100%;
    height: 48px;
}

.ScoreboardTeamWrapper.local_player_team #TeamOverlayBar
{
}

#LocalTeamOverlay
{
    width: 100%;
    height: 43px;
}

.ScoreboardTeamWrapper.local_player_team #LocalTeamOverlay
{
	box-shadow: -3px -3px 12px 6px #FFFFFF88;
}

.ScoreboardPlayer
{
}

.AspectRatio4x3 .ScoreboardPlayer
{
    margin-top: 2px;
}
.AspectRatio16x10 .ScoreboardPlayer
{
   margin-top: 4px;
}

.ScoreboardPlayerWrapper
{
}

.FlowDown
{
    flow-children: down;
}

.ScoreboardPlayerWrapper.is_local_player
{
}

.PlayerPortraitWrapper
{
    flow-children: down;
}

#ConquestPlayerColorBar
{
    height: 4px;
    width: 100%;
    border-bottom: 1px solid #000000;
	background-color: #c42f00;
}

.local_player_team #ConquestPlayerColorBar
{
	background-color: #086108;
}

.ColorBlindModeEnabled .local_player_team #ConquestPlayerColorBar
{
	background-color: #3b6cd0;
}

#HeroIcon
{
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 66px;
    height: 33px;
}

.AspectRatio4x3 #HeroIcon,
.AspectRatio5x4 #HeroIcon
{
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 47px;
    height: 28px;
}

.AspectRatio16x10 #HeroIcon
{
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 60px;
    height: 33px;
}

.player_dead #HeroIcon
{
	wash-color: #666666;
	saturation: 0;
}

.player_connection_abandoned #HeroIcon
{
	wash-color: #FF0000;
	saturation: 0;
}

#DisconnectionIndicator
{
	opacity: 0;
	width: 100%;
	height: 18px;
	vertical-align: top;
	margin-top: 24px;
}

.player_connection_abandoned #DisconnectionIndicator,
.player_connection_failed #DisconnectionIndicator,
.player_connection_disconnected #DisconnectionIndicator
{
	opacity: 1;
}

#ScoreRow
{
    width: 100%;
}

#RespawnIndicator
{
	margin-top: 30px;
	width: 42px;
	height: 38px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-image: url("s2r://panorama/images/custom_game/deathtimer_background_psd.vtex");
	horizontal-align: center;
	transform: translateY(-30px);
	opacity: 0;
	transition-property: transform;
	transition-duration: 0.3s;
	transition-timing-function: ease-out;
}

#HealthIndicatorContainer
{
//	margin-top: 54px;
	margin-top: 40px;
	width: 100%;
	background-color: black;
	height: 13px;
	horizontal-align: center;
	border-radius: 2px;
	box-shadow: -1px -1px 2px 2px black;
	visibility: collapse;
}

.AspectRatio4x3 #HealthIndicatorContainer
{
    margin-top: 32px;
}

.local_player_is_spectator #HealthIndicatorContainer
{
	visibility: visible;
}

.ScoreboardPlayerWrapper.player_dead #HealthIndicatorContainer
{
	opacity: 0;
}

#HealthIndicatorHealth
{
	background-color: white;
	height: 100%;
	horizontal-align: left;
}

#_dynamic_team_2 #HealthIndicatorHealth
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #529a52 ), color-stop( 0.5, #0d570d ), color-stop( 0.75, #186510 ), to( #084e08 ) );
}

#_dynamic_team_3 #HealthIndicatorHealth
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #b06652 ), color-stop( 0.5, #88270d ), color-stop( 0.75, #852c1b ), to( #631609 ) );
}

#RespawnTimer
{
    color: #e5460e;
    width: 100%;
	text-align: center;
    vertical-align: bottom;
	margin-bottom: -1px;
    font-size: 16px;
    text-shadow: 2px 2px 2px black;
}

.ScoreboardPlayerWrapper.player_dead #RespawnIndicator
{
	opacity: 1;
	transform: translateY(0px);
}

#UltimateIndicatorContainer
{
	horizontal-align: center;
	width: 20px;
	height: 20px;
	margin-top: 32px;
}

.player_ultimate_not_leveled #UltimateIndicatorContainer
{
	visibility: collapse;
}

.not_local_player_teammate #UltimateIndicatorContainer
{
	visibility: collapse;
}

.UltimateIndicatorShared
{
	width: 100%;
	height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.is_local_player #LocalPlayerIndicator
{
    visibility: visible;
}

.overthrow {
	width: 20%;
	height: 100%;
}