.ScoreboardLeft
{
	margin-bottom: 26%;
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#425663cc), color-stop(.5, #42566355), to(#0000));
	width: fit-children;
	height: fit-children;
	flow-children: down;
	vertical-align: bottom;
}

#GlobalStats,
#UniqueStats
{
	width: 300px;
	height: fit-children;
	flow-children: down;
	visibility: collapse;
}

#Buttons
{
	flow-children: right;
	visibility: collapse;
}

#Items
{
	flow-children: right;
	visibility: collapse;
}

.EntryPanel
{
	width: 90%;
	flow-children: right;
}

.OnValue
{
	margin-left: 7%;
	font-size: 15.0px;
	font-weight: thin;
	color: #A3B5D0cc;
	width: 65%;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px 2 #00000099;
}

.Value
{
	width: 50px;
	color: white;
	font-size: 16.0px;
	font-weight: thin;

	horizontal-align: right;
	background-repeat: no-repeat;
}

.Button
{
	width: fit-children;
	padding: 4px 4px 4px 4px;
	height: 35px;
	margin: 0.5%;
	border-radius: 4px;
	background-color: #007000;
}

.Button:hover {
	background-color: #009000;
}

.Button:active {
	background-color: #003000;
}

.item-button
{
	width: 48px;
	padding: 4px 4px 4px 4px;
	height: 35px;
	margin-top: 1%;
	border-radius: 4px;
	background-size: 48px 35px;
	wash-color: white;
}

.item-button:hover {
	wash-color: #909090aa;
}

.item-button:active {
	wash-color: lightgreen;
}

#ToggleUniqueStats
{
	margin-left: 4%;
}

#UniqueStatsButtonText
{
	color: white;
	font-size: 14.0px;
	font-weight: thin;
	align: center center;
}

.HeroParticlesPanel
#Hero0ParticlesPanel,
#Hero1ParticlesPanel,
#Hero2ParticlesPanel,
#Hero3ParticlesPanel,
#Hero4ParticlesPanel,
#Hero5ParticlesPanel,
#Hero6ParticlesPanel,
#Hero7ParticlesPanel,
#Hero8ParticlesPanel,
#Hero9ParticlesPanel,
#Hero10ParticlesPanel,
#Hero11ParticlesPanel,
#Hero12ParticlesPanel,
#Hero13ParticlesPanel,
#Hero14ParticlesPanel,
#Hero15ParticlesPanel,
#Hero16ParticlesPanel,
#Hero17ParticlesPanel,
#Hero18ParticlesPanel,
#Hero19ParticlesPanel
{
	visibility: collapse;
}
