.ScoreboardLeft
{
	margin-top: 11.5%;
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#425663cc), color-stop(.5, #42566355), to(#0000));
	width: 7.5%;
	height: fit-children;
	flow-children: down;
}

#UnitPanel,
#DummyPanel
{
	visibility: collapse;
}

.EntryPanel
{
	width: 100%;
	flow-children: right;
}

.OnValue
{
	margin-left: 12%;
	font-size: 15.0px;
	font-weight: thin;
	color: #A3B5D0cc;
	width: 65%;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px 2 #00000099;
}

.Value
{
	margin-left: 7%;
	width: 40px;
	color: white;
	font-size: 16.0px;
	font-weight: thin;

	horizontal-align: right;
	background-repeat: no-repeat;
}
