.ScoreboardLeft
{
	margin-top: 12%;
	background-color: gradient(linear, 0% 0%, 100% 0%, from(#425663cc), color-stop(.5, #42566355), to(#0000));
	width: fit-children;
	height: fit-children;
	flow-children: down;
}

#GlobalStats,
#UniqueStats
{
	width: 250px;
	height: fit-children;
	flow-children: down;
	visibility: collapse;
}

#UniqueStats
{
	margin-top: 2%;
	margin-bottom: 0%;
}

.EntryPanel
{
	width: 90%;
	flow-children: right;
}

.OnValue
{
	margin-left: 7%;
	font-size: 15.0px;
	font-weight: thin;
	color: #A3B5D0cc;
	width: 65%;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px 2 #00000099;
}

.Value
{
	margin-left: 0%;
	width: 50px;
	color: white;
	font-size: 16.0px;
	font-weight: thin;

	horizontal-align: right;
	background-repeat: no-repeat;
}

#ToggleUniqueStats
{
	width: 160px;
	height: 40px;
	margin-top: 2%;
	margin-left: 4%;
	border-radius: 4px;
	background-color: black;
	visibility: collapse;
}

#UniqueStatsButtonText
{
	color: white;
	font-size: 16.0px;
	font-weight: thin;
	align: center center;
}
