/* General layout
=================================================================*/
@define load_time: 4.0s;

@keyframes 'fade'
{
	0%
	{
		opacity: 0.0;
	}

	100%
	{
		opacity: 0.4;
	}
}

@keyframes 'fade_full'
{
	0%
	{
		opacity: 0.0;
	}

	100%
	{
		opacity: 1.0;
	}
}

@keyframes 'fade_in'
{
	0%
	{
		opacity: 0.0;
	}

	50%
	{
		opacity: 0.0;
	}

	100%
	{
		opacity: 1.0;
	}
}

@keyframes 'fade_out'
{
	0%
	{
		opacity: 1.0;
	}

	50%
	{
		opacity: 0.0;
	}

	100%
	{
		opacity: 0.0;
	}
}

.PickingScreenMain {
	width: 100%;
	height: 100%;
	z-index: 10;
}

#PickingScreen {
	width: 100%;
	height: 100%;
	padding-top: 10px;
	flow-children: right;
	animation-name: fade_in;
	animation-duration: load_time;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	z-index: -100;
}

#TeamRadiant,
#TeamDire {
	width: 40%;
	height: 100%;
	flow-children: down;
}

#LeftStatsPanel,
#RightStatsPanel {
	width: 40%;
	visibility: collapse;
}

#LeftStatsSubPanel,
#RightStatsSubPanel {
	horizontal-align: center;
	flow-children: right;
}

.StatsPanel {
	width: fit-children;
	height: 100%;
	margin-top: 5%;
	padding: 0% 0% 1% 0%;
	flow-children: right;
}

.TeamLabel {
	width: 100%;
	height: 20%;
	flow-children: right;
}

.TeamLabelText {
	width: 20%;
	height: 100%;

	text-align: left;
	font-size: 20px;
	font-family: "Bold";
	text-transform: uppercase;
}

#LeftPlayers,
#RightPlayers {
	width: 100%;
	height: 80%;
	flow-children: down;
}

#BackgroundPanel {
	width: 100%;
	height: 100%;
	background-color: #000000ea;
	z-index: -1000;
}

#Background {
	width: 100%;
	height: 100%;
//	background-color: #000000fa;
	z-index: -100;
}

#PickList {
	width: 100%;
	flow-children: right;
	align: center center;
	visibility: visible;
}

#BottomContainer {
	width: 85%;
	height: 30%;
	align: center center;
	flow-children: right;
	visibility: visible;
}

#PostPickScreen {
	width: 100%;
	height: 48%;
	visibility: collapse;
	flow-children: down;
}

#PostPickScreenButtonContainer {
	width: fit-children;
	height: fit-children;
	align: center center;
	flow-children: right;
	visibility: collapse;
}

.ClassContainer{
	width: 100%;
	height: 100%;
	flow-children: down;
	color: #ffffff;
	z-index: -10;
}

#HeroPreview {
	width: 600px;
	height: 600px;
	horizontal-align: center;
}

/* 'Enter game' button
=================================================================*/
#EnterGameBtn,
#RepickBtn {
	align: center center;
	box-shadow: fill #00000066 -4px -4px 8px 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #066319 ), to( #103F19 ) );
	background-size: 320px 120px;
	height: 55px;
	width: 220px;
	saturation: 0.8;
}

#RepickBtn {
	background-color: orange;
}

#EnterGameBtn.disabled, #EnterGameBtn.disabled:Hover,
#RepickBtn.disabled, #RepickBtn.disabled:Hover {
	background-color: #595959;
}

#EnterGameBtn:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( darkgreen ), to( black ) );
	saturation: 1.0;
}

#RepickBtn:Hover {
	background-color: darkorange;
}

#EnterGameBtn Label,
#RepickBtn Label {
	horizontal-align: center;
	vertical-align: center;
	color: #fff;
	font-size: 24px;
	font-family: "Bold";
}

.PickTypePanel {
	width: 26.6%;
	height: fit-children;
	flow-children: down;
}

/* Hero options
=================================================================*/
.PlayerOptionRow {
	width: 100%;
	height: 60%;
	flow-children: right;
}

.AspectRatio16x10 .PlayerOptionRow {
	height: 55%;
}

.AspectRatio4x3 .PlayerOptionRow {
	height: 50%;
}

.PlayerOptionRowV10 {
	width: 94%;
	height: 50%;
	margin-left: 3%;
	margin-right: 3%;
	flow-children: right;
}

.AspectRatio16x10 .PlayerOptionRowV10 {
	height: 50%;
}

.ClassOptionRow {
	width: fit-children;
	height: fit-children;
	padding-left: 1%;
	padding-right: 1%;
	horizontal-align: middle;
	vertical-align: top;
	flow-children: right;
}

.ClassNormalOption,
.ClassImbaOption,
.ClassNewOption,
.ClassCustomOption {
	width: 84px;
	height: 46px;
	margin: 1px 0px 1px 0px;
	horizontal-align: left;
	wash-color: #7090B060;
	background-size: 100% 100%;
	pre-transform-scale2d: 0.93;
	border-radius: 4px;
}

.ClassNormalOptionLabel,
.ClassImbaOptionLabel,
.ClassCustomOptionLabel
{
	width: 100%;
	background-color: #1852D9;
	align: center bottom;
	text-align: center;
	font-size: 12px;
	font-family: "Bold";
	text-transform: uppercase;
	font-weight: bold;
	background-color: #000000da;
	animation-name: fade_full;
	animation-duration: load_time;
	animation-timing-function: ease-in;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

.ClassNewOptionLabel
{
	width: 100%;
	background-color: #1852D9;
	align: center bottom;
	text-align: center;
	font-size: 12px;
	font-family: "Bold";
	text-transform: uppercase;
	font-weight: bold;
	background-color: #000000da;
}

.ClassNormalOptionLabel
{
	color: grey;
}

.ClassImbaOptionLabel
{
	color: darkorange;
}

.ClassNewOptionLabel
{
	color: dodgerblue;
}

.ClassCustomOptionLabel
{
	color: purple;
}

.AspectRatio16x10 .ClassNormalOption,
.AspectRatio16x10 .ClassImbaOption,
.AspectRatio16x10 .ClassNewOption,
.AspectRatio16x10 .ClassCustomOption {
	margin: 2px 0px 2px 1px;
	width: 75px;
	height: 46px;
	horizontal-align: left;
	background-position: center;
	wash-color: #7090B060;
}

.AspectRatio4x3 .ClassNormalOption,
.AspectRatio4x3 .ClassImbaOption,
.AspectRatio4x3 .ClassNewOption,
.AspectRatio4x3 .ClassCustomOption {
	margin: 1px 0px 1px 1px;
	width: 67px;
	height: 48px;
	horizontal-align: left;
	background-position: center;
	wash-color: #7090B060;
}

.ClassNormalOption {
	border: 1px solid #656565;
}

.ClassImbaOption {
	border: 1px solid orange;
}

.ClassNewOption {
	border: 2px solid #1852D9;
}

.ClassCustomOption {
	border: 2px solid purple;
}

.selected {
	border: 1px solid dodgerblue;
	box-shadow: fill skyblue -1px -1px 2px 2px;
	wash-color: #00000000;
}

.ClassNormalOption:hover,
.ClassImbaOption:hover,
.ClassNewOption:hover,
.ClassCustomOption:hover
{
	pre-transform-scale2d: 1.05;
	wash-color: #00000000;
	z-index: 10;
}

.ClassNormalOption.taken,
.ClassImbaOption.taken,
.ClassNewOption.taken,
.ClassCustomOption.taken
{
	saturation: 0.0;
	wash-color: grey;
}

/* Text elements and timer
=================================================================*/
#PickInfoPanel {
	width: 80%;
	height: 20%;
	horizontal-align: center;
	vertical-align: middle;
	flow-children: right;
	margin-top: 3%;
	padding: 0% 0% 1% 0%;
}

.GameModeSelectText {
	align: center center;
	font-size: 30px;
	font-family: "Bold";
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
}

#PickTextPanel {
	width: 20%;
	align: center top;
	flow-children: down;
}

#PickTimerPanel {
	align: center center;
	flow-children: down;
}

#PickTimer {
	width: fit-children;
	height: 60px;
	margin-bottom: 1%;
	vertical-align: middle;
	horizontal-align: middle;
}

#TimerTxt {
	width: 100px;
	text-align: center;
	font-size: 38px;
	font-family: "Bold";
	color:#fff;
	text-transform: uppercase;
	font-weight: bold;
}

#ShowStatsPanel {
	background-color: #000000aa;
	align: center center;
	flow-children: down;
}

#ShowStatsPanel:hover {
	box-shadow: fill black -2px -2px 4px 4px;
	color: white;
	opacity: .5;
	border: 1px solid #333333;
	background-color: #111111;
}

#ShowStatsPanel:active {
	box-shadow: fill grey -2px -2px 4px 4px;
	color: white;
	border: 1px solid #333333;
	background-color: #111111;
}

#ShowStatsLabel {
	width: 150px;
	text-align: center;
	font-size: 18px;
	font-family: "Bold";
	color:#fff;
	text-transform: uppercase;
	font-weight: bold;
}

#ClosePickScreen_Force {
	background-color: #500000ba;
	align: center center;
	flow-children: down;
}

#ClosePickScreen_Force:hover {
	box-shadow: fill black -2px -2px 4px 4px;
	color: white;
	opacity: .5;
	border: 1px solid #333333;
	background-color: #900000ba;
}

#ClosePickScreen_Force:active {
	box-shadow: fill red -2px -2px 4px 4px;
}

#ClosePickScreen_Force_Label {
	width: 150px;
	text-align: center;
	font-size: 18px;
	font-family: "Bold";
	color:#fff;
	text-transform: uppercase;
	font-weight: bold;
}

#GameOptionsPanelContainer {
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: down;
}

.GameModeLabelPanel,
.GameModeValuePanel,
{
	margin-top: 5px;
	flow-children: down;
}

.GameModeValuePanel
{
	margin-left: 10px;
	margin-right: 50px;
}

#GameOptionsLabelPanel {
	visibility: collapse;
}

.GameModeValue,
.GameModeLabel
{
	text-align: center;
	font-size: 22px;
	font-family: "Bold";
}

.AspectRatio4x3 .GameModeLabel
{
	text-align: center;
	font-size: 20px;
	font-family: "Bold";
}

.GameModeLabel {
	horizontal-align : left;
	color:#FFFFFF;
}

.GameModeValue {
	horizontal-align : right;
	color:#FF7800;
}

#PickScreenTeamTitleRadiant {
	margin-left: 3%;
	width: 50%;
	height: 100%;
	margin-bottom: 15%;
	
	text-align: left;
	font-size: 20px;
	font-family: "Bold";
	text-transform: uppercase;
	color: green;
	letter-spacing: 1px;
}

#PickScreenTeamTitleDire {
	margin-right: 3%;
	width: 50%;
	height: 100%;
	margin-bottom: 15%;
	
	font-size: 20px;
	font-family: "Bold";
	text-transform: uppercase;
	color: green;

	horizontal-align: right;
	text-align: right;
	padding-right: 3%;
	color: darkred;
	letter-spacing: 1px;
}

#AverageMMRTeamRadiant,
#AverageMMRTeamDire {
	width: 50%;
	height: 100%;
	margin-bottom: 15%;
	
	text-align: left;
	font-size: 18px;
	font-family: "Bold";
	color: grey;
	letter-spacing: 1px;
}

#AverageMMRTeamRadiant {
	text-align: right;
}

#SeparatorImage {
	width: 45px;
	height: 45px;
}

.PickListTitlePanel {
	margin-left: 9%;
	horizontal-align: left;
	flow-children: right;
}

.PickListText {
	horizontal-align: left;
	font-size: 18px;
	font-family: "Bold";
	color: white;
	text-transform: uppercase;
	letter-spacing: 4px;
}

#PickListTextSTR {
	text-shadow: 0px 0px 6px red;
}

#PickListTextAGI {
	text-shadow: 0px 0px 6px green;
}

#PickListTextINT {
	text-shadow: 0px 0px 6px skyblue;
}

#PickListSeparator1,
#PickListSeparator2,
#PickListSeparator3,
#PickListSeparator4
{
	margin: 0% 0% 1% 0%;
	width: 82%;
	height: 3px;
	opacity: 0.2;
	horizontal-align: middle;
}

.AspectRatio16x10 #PickListSeparator1,
.AspectRatio16x10 #PickListSeparator2,
.AspectRatio16x10 #PickListSeparator3,
.AspectRatio16x10 #PickListSeparator4
{
	width: 370px;
}

.AspectRatio4x3 #PickListSeparator1,
.AspectRatio4x3 #PickListSeparator2,
.AspectRatio4x3 #PickListSeparator3,
.AspectRatio4x3 #PickListSeparator4
{
	width: 85%;
}

#PickListSeparator1 {
	
	background-color: grey;
}

#PickListSeparator2 {
	background-color: grey;
}

#PickListSeparator3 {
	background-color: grey;
}

#PickListSeparator4 {
	background-color: gold;
}

/* Hero details panel
=================================================================*/
#CustomPickList
{
	width: 33%;
	height: 100%;
	flow-children: right;
	align: center center;
}

#HeroDetailsContainer {
	width: 33%;
	height: 100%;
	flow-children: down;
}

#HeroDetailsPanel {
	width: 80%;
	height: 45%;
	align: center center;
	flow-children: down;
}

#WelcomePanel {
	vertical-align: middle;
	horizontal-align: middle;
	flow-children: down;
	animation-name: fade;
	animation-duration: 5.0s;
	animation-timing-function: ease-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

#WelcomeText {
	vertical-align: middle;
	horizontal-align: middle;
	font-size: 40px;
	font-family: "Bold";
	color: #CE6722;
}

#PickedHeroPanel {
	width: 80%;
	height: 40%;
	margin-top: 1%;
	horizontal-align: center;
	flow-children: right;
}

#PickedHeroAbilitiesPanel {
	width: 80%;
	height: 45%;
	horizontal-align: center;
	flow-children: right;
}

#PickedHeroName {
	height: 16%;
	margin-bottom: 0%;
	horizontal-align: middle;
	text-align: left;
	font-size: 22px;
	font-family: "Bold";
	color: #ffffff;
}

/*
	128x72 landscape default size
*/
#PickedHeroImage {
	horizontal-align: center;
	width: 30%;
	height: 100%;
}

#HeroAbilitiesParentPanel {
	width: 100%;
	height: 100%;
	flow-children: right;
	visibility: collapse;
}

#HeroAbilitiesParentPanel.four_abilities .PickedHeroAbility {
	width: fill-parent-flow( 0.24 );
}

#HeroAbilitiesParentPanel.five_abilities .PickedHeroAbility {
	width: fill-parent-flow( 0.19 );
}

#HeroAbilitiesParentPanel.six_abilities .PickedHeroAbility {
	width: fill-parent-flow( 0.15 );
}

.PickedHeroAbility {
	margin-left: 1px;
	margin-right: 1px;
	border-radius: 0px;
	vertical-align: middle;
}

/* 'Pick random hero' button
=================================================================*/
@keyframes 'increase_left'
{
	0%
	{
		saturation: 0.7;
	}

	100%
	{
		saturation: 1.0;
	}
}

#RandomButtonContainer,
#RandomImbaButtonContainer
{
	width: 50%;
	height: fit-children;
	flow-children: down;
	align: center center;
	border-left: 5px;
	border-right: 5px;
	border-right-color: white;
	saturation: 0.8;
}

#RandomButtonContainer:hover {
	saturation: 1.0;
}

#RandomImbaButtonContainer:hover {
	saturation: 1.0;
}

#RandomPickBtn,
#RandomImbaPickBtn
{
	width: 160px;
	height: 86px;
	align: center center;
	background-image: url("s2r://panorama/images/custom_game/random_button_png.vtex");
}

#RandomImbaPickBtn
{
	background-image: url("s2r://panorama/images/custom_game/random_button_imba_png.vtex");
}

#RandomPickBtn:hover,
#RandomImbaPickBtn:hover
{
	box-shadow: fill skyblue -2px -2px 4px 4px;
	saturation: 1.0;
}

#RandomPickBtnTxt,
#RandomImbaPickBtnTxt
{
	horizontal-align: center;
	vertical-align: bottom;
	color: #FFFFFF;
	font-size: 22px;
	font-family: "Bold";
}

/* 'Confirm pick' button
=================================================================*/
#PickHeroBtn {
	box-shadow: fill #00000066 -4px -4px 8px 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #066319 ), to( #103F19 ) );
	background-size: 320px 120px;
	height: 100%;
	width: 70%;
	horizontal-align: middle;
	visibility: collapse;
}

#PickHeroBtn.Banned {
	background-color: grey;
}

#PickHeroBtn.Banned:Active {
	background-color: grey;
}


#PickHeroBtn:Hover {
	saturation: 0.8;
}

#PickHeroBtn:Active {
	background-color: darkgreen;
}

#PickHeroBtn.disabled, #PickHeroBtn.disabled:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #9C9C9C ), to( #D1D1D133 ) );
}

#PickHeroBtn Label {
	color: white;
	font-size: 20px;
	align: center center;
	text-align: center center;
	font-family: "Bold";
	text-overflow: clip;
	opacity: 0.75;
	letter-spacing: 1px;
	padding-left: 5px;
	padding-right: 5px;
}

/* Right now this is just a dummy panel, to keep in place the others following
===============================================================*/
#HeroSelectionChat
{
	width: 100%;
	height: 100%;
	margin-top: 2%;
//	background-color: #000000da;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

#BanTabMessage
{
	width: 365px;
	margin-top: 30%;
	color: #FFFFFF;
	font-size: 30px;
	font-family: "Bold";
	text-align: center;
}

.AspectRatio16x10 #BanTabMessage
{
	width: 330px;
}

.AspectRatio4x3 #BanTabMessage
{
	width: 230px;
}

#LoadingPanel {
	vertical-align: center;
	horizontal-align: center;
	background-color: #000000da;
	border-radius: 10px;
	padding: 4px 4px 4px 4px;
	animation-name: fade_out;
	animation-duration: load_time;
	animation-direction: alternate;
	opacity: 0;
}

#LoadingLabel {
	font-size: 40px;
	font-family: "Bold";
	color: white;
}

#HeroListSTR {
	margin-left: 10%;
}

#MinimapContainer {
	width: 33%;
	height: 100%;
}

#minimap {
	width: 322px;
	height: 322px;
	background-image: url("s2r://panorama/images/hud/reborn/bg_minimap_psd.vtex");
	background-size: contain;
	overflow: clip;
	align: left center;
	border-radius: 5px;
}

#TopButtons {
	margin-top: 10px;
	flow-children: right;
}

#custom1_label {
	margin-top: 17%;
	margin-left: 2%;
}
