/* General layout
=================================================================*/
@keyframes 'left_animation'
{
	0%
	{
		background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), to( #00105000 ) );
	}
	100%
	{
		background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), to( #00105055 ) );
	}
}

@keyframes 'right_animation'
{
	0%
	{
		background-color: gradient( linear, 100% 0%, 0% 0%, from( #50000000 ), to( #00000000 ) );
	}

	100%
	{
		background-color: gradient( linear, 100% 0%, 0% 0%, from( #50000055 ), to( #00000000 ) );
	}
}

#PickingScreen {
	width: 100%;
	height: 100%;
    flow-children: right;
}

#LeftPlayers,
#RightPlayers {
    padding-top: 56px;
	width: 13%;
	height: 100%;
	flow-children: down;
	animation-duration: 2.5s;
	animation-timing-function: ease-out;
    animation-direction: alternate;
	animation-iteration-count: infinite;
}

#LeftPlayers {
	animation-name: left_animation;
}

#RightPlayers {
	animation-name: right_animation;
}

#ReturnToMenuButton {
	margin-left: 16px;
	margin-top: 12px;
	width: 30px;
	height: 30px;
	background-image: url("s2r://panorama/images/control_icons/return_to_game_png.vtex");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	transform: scaleY(-1);
	tooltip-position: bottom;
	opacity: 0.5;
	wash-color: #CDF;

	transition-property: opacity;
	transition-duration: 0.2s;
}

#Background {
	width: 100%;
	height: 100%;
	background-image: url("s2r://panorama/images/backgrounds/dashboard_background_png.vtex");
}

#PickList {
	width: 100%;
	height: 100%;
	flow-children: down;
	visibility: visible;
}

#PostPickScreen {
	width: 100%;
	height: 100%;
	visibility: collapse;
	flow-children: down;
}

.ClassContainer{
	width: 74%;
	height: 100%;
	flow-children: down;
	color: #ffffff;
    padding-top: 20px;
}

#HeroPreview {
	width:600px;
	horizontal-align: center;
	height:600px;
}

/* 'Enter game' button
=================================================================*/
#EnterGameBtn {
	horizontal-align: center;
	margin-top: 20px;

	box-shadow: fill #00000066 -4px -4px 8px 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5AA15E ), to( #87d69533 ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 320px 120px;
	height: 55px;
	width: 420px;
	border-radius: 10px;
}

#EnterGameBtn.disabled, #EnterGameBtn.disabled:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #9C9C9C ), to( #D1D1D133 ) );
}

#EnterGameBtn:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6FDE75 ), to( #87d69533 ) );
}

#EnterGameBtn Label {
	horizontal-align: center;
	vertical-align: center;
	color: #fff;
	font-size: 36px;
	font-family: "Radiance";
}

/* 'Repick hero' button
=================================================================*/
#RepickBtn {
	horizontal-align: center;
	margin-top: 20px;

	box-shadow: fill #00000066 -4px -4px 8px 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5AA15E ), to( #87d69533 ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 320px 120px;
	height: 55px;
	width: 420px;
	border-radius: 10px;
}

#RepickBtn.disabled, #RepickBtn.disabled:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #9C9C9C ), to( #D1D1D133 ) );
}

#RepickBtn:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6FDE75 ), to( #87d69533 ) );
}

#RepickBtn Label {
	horizontal-align: center;
	vertical-align: center;
	color: #fff;
	font-size: 36px;
	font-family: "Radiance";
}

.PickTypePanel {
    width: 100%;
    height: 33%;
    padding: 10px;
    flow-children: down;
    margin-bottom: -1px;
}

/* Hero options
=================================================================*/
.ClassOptionRow {
	width: 98%;
	height: 33%;
    horizontal-align: middle;
	vertical-align: top;
	margin-left: 1%;
	margin-right: 1%;
	flow-children: right;
}

.ClassNormalOption,
.ClassImbaOption {
    width: 4.7%;
	height: 95%;
	horizontal-align: left;
	vertical-align: center;
	background-position: center;
	saturation: 0.6;
	wash-color: #7090B060;
	border-radius: 6px;
}

.ClassNormalOption {
	border: 3px solid #000000FF;
}

.ClassImbaOption {
	border: 3px solid #FF7800FF;
}

.ClassNormalOption:hover,
.ClassImbaOption:hover
{
	saturation: 1.0;
	pre-transform-scale2d: 1.1;
	wash-color: #00000000;
    z-index: 10;
}

.ClassNormalOption.taken,
.ClassImbaOption.taken
{
	saturation: 0.0;
	transform: none;
	opacity: 0.2;
	wash-color: #00000000;
}


.ClassImbaOption.taken {
	saturation: 0.0;
	transform: none;
	opacity: 0.2;
	wash-color: #00000000;
}

/* Text elements and timer
=================================================================*/
#PickInfoPanel {
	width: 100%;
	height: 220px;
	horizontal-align: center;
	vertical-align: middle;
	flow-children: right;
	padding-left: 10px;
	padding-right: 10px;
}

.GameModeSelectText {
	horizontal-align: middle;
	font-size: 48px;
	font-family: "Goudy Trajan Medium";
	color: #fff;
	vertical-align: middle;
}

#PickTextPanel {
	horizontal-align: left;
	vertical-align: center;
	flow-children: down;
}

#PickTimerPanel {
	horizontal-align: middle;
	flow-children: right;
}

#PickTimer {
	width: 60px;
	height: 60px;
	border: 3px solid #fff;
	border-radius: 30px;
	margin: 0px 20px 0px 0px;
	vertical-align: middle;
}

#TimerTxt {
	width: 50px;
	text-align: center;
	font-size: 40px;
	font-family: "Radiance";
	color:#fff;
	margin: 4px 0px 0px 2px;
}

#GameOptionsPanelContainer {
	margin-top: 10px;
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right;
}

.GameModeLabelPanel,
.GameModeValuePanel,
{
    margin-top: 5px;
	flow-children: down;
}

.GameModeValuePanel
{
    margin-left: 10px;
    margin-right: 10px;
}

#GameOptionsLabelPanel8 {
	visibility: collapse;
}

.GameModeValue,
.GameModeLabel
{
    text-align: center;
	font-size: 22px;
	font-family: "Radiance";
}

.GameModeLabel {
    horizontal-align : left;
	color:#FFFFFF;
}

.GameModeValue {
    horizontal-align : right;
	color:#FF7800;
}

.PickScreenTeamTitle {
	width: 100%;
	height: 8%;
	text-align: center;
	font-size: 36px;
	font-family: "Radiance";
	color:#fff;
	margin-bottom: 2%;
}

.PickListTitlePanel {
	horizontal-align: left;
	flow-children: right;
}

.PickListText {
	horizontal-align: left;
	vertical-align: middle;
	margin-left: 5px;
	font-size: 32px;
	font-family: "Radiance";
	color: #ffffff;
}

/* Hero details panel
=================================================================*/
#HeroDetailsPanel {
	height: 100%;
	horizontal-align: right;
	vertical-align: center;
	flow-children: right;
}

#PickedHeroPanel {
	vertical-align: center;
	horizontal-align: left;
	flow-children: down;
}

#PickedHeroName {
	horizontal-align: center;
	text-align: center;
	width: 192px;
	font-size: 28px;
	font-family: "Radiance";
	color: #ffffff;
}

#PickedHeroImage {
	horizontal-align: center;
	margin-top: 8px;
	width: 192px;
	height: 108px;
	border-radius: 20px;
}

#HeroAbilitiesParentPanel {
	horizontal-align: right;
	vertical-align: center;
	height: 100%;
	flow-children: down;
	margin-left: 10px;
	visibility: collapse;
}

#HeroAbilitiesPanel {
	horizontal-align: center;
	margin-top: 70px;
	flow-children: right;
}

.PickedHeroAbility {
	height: 67px;
	width: 67px;
	margin-left: 1px;
	margin-right: 1px;
	border-radius: 10px;
}

#RandomButtonContainer {
	margin-left: 40px;
	width: 160px;
	height: 100%;
	flow-children: down;
}

#RandomButtonPanel {
	vertical-align: center;
	margin-top: 50px;
	height: 120px;
	flow-children: down;
}

/* 'Pick random hero' button
=================================================================*/
#RandomPickBtnTxt {
	horizontal-align: center;
	margin-top: 7px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: "Radiance";
}

#RandomPickBtnImage {
	width: 128px;
	height: 72px;
	border-radius: 15px;
	vertical-align: center;
	horizontal-align: center;
	saturation: 0.7;
}

#RandomPickBtnImage:hover {
	box-shadow: fill #FF7800FF -2px -2px 4px 4px;
	saturation: 1.0;
}

/* 'Confirm pick' button
=================================================================*/
#PickHeroBtn {
	horizontal-align: center;
	vertical-align: bottom;
	margin-top: 5px;
	margin-bottom: 20px;

	box-shadow: fill #00000066 -4px -4px 8px 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5AA15E ), to( #87d69533 ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 320px 120px;
	height: 42px;
	width: 420px;
	border-radius: 10px;
}

#PickHeroBtn:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6FDE75 ), to( #87d69533 ) );
}
#PickHeroBtn.disabled, #PickHeroBtn.disabled:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #9C9C9C ), to( #D1D1D133 ) );
}

#PickHeroBtn Label {
	vertical-align: center;
	horizontal-align: center;
	color: #FFFFFF;
	font-size: 30px;
	font-family: "Radiance";
}