/* General layout
=================================================================*/
@keyframes 'left_animation'
{
	0%
	{
		background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), to( #00105000 ) );
	}
	100%
	{
		background-color: gradient( linear, 100% 0%, 0% 0%, from( #00000000 ), to( #00105055 ) );
	}
}

@keyframes 'right_animation'
{
	0%
	{
		background-color: gradient( linear, 100% 0%, 0% 0%, from( #50000000 ), to( #00000000 ) );
	}

	100%
	{
		background-color: gradient( linear, 100% 0%, 0% 0%, from( #50000055 ), to( #00000000 ) );
	}
}

@keyframes 'fade'
{
	0%
	{
		opacity: 0.0;
	}

	100%
	{
		opacity: 0.4;
	}
}

#PickingScreen {
	width: 100%;
	height: 100%;
	flow-children: right;
}

#LeftPlayers,
#RightPlayers {
	padding-top: 56px;
	width: 11%;
	height: 100%;
	flow-children: down;
	animation-duration: 2.5s;
	animation-timing-function: ease-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

#LeftPlayers {
	animation-name: left_animation;
}

#RightPlayers {
	animation-name: right_animation;
}

#ReturnToMenuButton {
	margin-left: 16px;
	margin-top: 12px;
	width: 30px;
	height: 30px;
	background-image: url("s2r://panorama/images/control_icons/return_to_game_png.vtex");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	transform: scaleY(-1);
	tooltip-position: bottom;
	opacity: 0.5;
	wash-color: #CDF;

	transition-property: opacity;
	transition-duration: 0.2s;
}

#Background {
	width: 100%;
	height: 100%;
	background-color: #000000da;
//	background-image: url("s2r://panorama/images/backgrounds/dashboard_background_png.vtex"); /* COOKIES: original Background */
}

#PickList {
	width: fit-children;
	height: fit-children;
	flow-children: right;
	visibility: visible;
}

#PostPickScreen {
	width: 100%;
	height: 100%;
	visibility: collapse;
	flow-children: down;
}

.ClassContainer{
	width: 78%;
	height: 100%;
	flow-children: down;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
}

#HeroPreview {
	width: 550px;
	horizontal-align: center;
	height: 550px;
}

/* 'Enter game' button
=================================================================*/
#EnterGameBtn {
	horizontal-align: center;
	margin-top: 20px;

	box-shadow: fill #00000066 -4px -4px 8px 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5AA15E ), to( #87d69533 ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 320px 120px;
	height: 55px;
	width: 420px;
	border-radius: 4px;
}

#EnterGameBtn.disabled, #EnterGameBtn.disabled:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #9C9C9C ), to( #D1D1D133 ) );
}

#EnterGameBtn:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6FDE75 ), to( #87d69533 ) );
}

#EnterGameBtn Label {
	horizontal-align: center;
	vertical-align: center;
	color: #fff;
	font-size: 36px;
	font-family: "Radiance";
}

/* 'Repick hero' button
=================================================================*/
#RepickBtn {
	horizontal-align: center;
	margin-top: 20px;

	box-shadow: fill #00000066 -4px -4px 8px 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5AA15E ), to( #87d69533 ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 320px 120px;
	height: 55px;
	width: 420px;
	border-radius: 4px;
}

#RepickBtn.disabled, #RepickBtn.disabled:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #9C9C9C ), to( #D1D1D133 ) );
}

#RepickBtn:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6FDE75 ), to( #87d69533 ) );
}

#RepickBtn Label {
	horizontal-align: center;
	vertical-align: center;
	color: #fff;
	font-size: 36px;
	font-family: "Radiance";
}

.PickTypePanel {
	width: fit-children;
	height: fit-children;
	flow-children: down;
	margin-bottom: 0px;
}

/* Hero options
=================================================================*/
.ClassOptionRow {
	width: fit-children;
	height: fit-children;
	horizontal-align: middle;
	vertical-align: top;
	margin-left: 3.3%;
	margin-right: 3.3%;
	flow-children: right;
}

.ClassNormalOption,
.ClassImbaOption {
	margin-left: 2.5px;
	margin-right: 2.5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 75px;
	height: 48px;
	horizontal-align: left;
	saturation: 0.6;
	wash-color: #7090B060;
	background-size: 100% 100%;
	background-position: 0px 0px;
}

.AspectRatio16x10 .ClassNormalOption,
.AspectRatio16x10 .ClassImbaOption {
	margin-left: 2.5px;
	margin-right: 2.5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 67px;
	height: 44px;
	horizontal-align: left;
	background-position: center;
	saturation: 0.6;
	wash-color: #7090B060;
}

.AspectRatio4x3 .ClassNormalOption,
.AspectRatio4x3 .ClassImbaOption {
	margin-left: 2.5px;
	margin-right: 2.5px;
	margin-top: 5px;
	margin-bottom: 5px;
	width: 56px;
	height: 48px;
	horizontal-align: left;
	background-position: center;
	saturation: 0.6;
	wash-color: #7090B060;
}

.ClassNormalOption {
	border: 2px solid #656565;
}

.ClassImbaOption {
	border: 2px solid #FF7800FF;
}

.ClassNormalOption:hover,
.ClassImbaOption:hover
{
	saturation: 1.0;
	pre-transform-scale2d: 1.1;
	wash-color: #00000000;
	z-index: 10;
}

.ClassNormalOption.taken,
.ClassImbaOption.taken
{
	saturation: 0.0;
	transform: none;
	opacity: 0.2;
	wash-color: #00000000;
}


.ClassImbaOption.taken {
	saturation: 0.0;
	transform: none;
	opacity: 0.2;
	wash-color: #00000000;
}

/* Text elements and timer
=================================================================*/
#PickInfoPanel {
	width: 100%;
	height: fit-children;
	horizontal-align: center;
	vertical-align: middle;
	flow-children: right;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 1%;
}

.GameModeSelectText {
	horizontal-align: middle;
	font-size: 48px;
	font-family: "Goudy Trajan Medium";
	color: #fff;
	vertical-align: middle;
}

.AspectRatio4x3 .GameModeSelectText {
	font-size: 34px;
}

#PickTextPanel {
	horizontal-align: left;
	vertical-align: center;
	flow-children: down;
}

#PickTimerPanel {
	horizontal-align: middle;
	vertical-align: middle;
	flow-children: right;
	margin-right: 2%;
}

.AspectRatio4x3 #PickTimerPanel {
	flow-children: down;
	margin-right: 2%;
}

#PickTimer {
	width: 60px;
	height: 60px;
	border: 3px solid #fff;
	border-radius: 30px;
	margin: 0px 20px 0px 0px;
	vertical-align: middle;
	horizontal-align: middle;
}

#TimerTxt {
	width: 50px;
	text-align: center;
	font-size: 40px;
	font-family: "Radiance";
	color:#fff;
	margin: 4px 0px 0px 2px;
}

#GameOptionsPanelContainer {
	margin-top: 10px;
	horizontal-align: center;
	vertical-align: bottom;
	flow-children: right;
}

.GameModeLabelPanel,
.GameModeValuePanel,
{
	margin-top: 5px;
	flow-children: down;
}

.GameModeValuePanel
{
	margin-left: 10px;
	margin-right: 50px;
}

.AspectRatio4x3 .GameModeValuePanel
{
	margin-right: 30px;
}

#GameOptionsLabelPanel8 {
	visibility: collapse;
}

.GameModeValue,
.GameModeLabel
{
	text-align: center;
	font-size: 22px;
	font-family: "Radiance";
}

.AspectRatio4x3 .GameModeLabel
{
	text-align: center;
	font-size: 20px;
	font-family: "Radiance";
}

.GameModeLabel {
	horizontal-align : left;
	color:#FFFFFF;
}

.GameModeValue {
	horizontal-align : right;
	color:#FF7800;
}

.PickScreenTeamTitle {
	width: 100%;
	height: 8%;
	text-align: center;
	font-size: 30px;
	font-family: "Radiance";
	color:#fff;
	margin-bottom: 2%;
}

.PickListTitlePanel {
	margin-left: 6%;
	horizontal-align: left;
	flow-children: right;
}

.PickListText {
	horizontal-align: left;
	vertical-align: middle;
	margin-left: 5px;
	font-size: 30px;
	font-family: "Radiance";
	color: #ffffff;
}

#PickListSeparator1,
#PickListSeparator2,
#PickListSeparator3
{
	margin: 0% 0% 5% 0%;
	width: 420px;
	height: 2px;
	opacity: 0.2;
	horizontal-align: middle;
}

.AspectRatio16x10 #PickListSeparator1,
.AspectRatio16x10 #PickListSeparator2,
.AspectRatio16x10 #PickListSeparator3
{
	width: 370px;
}

.AspectRatio4x3 #PickListSeparator1,
.AspectRatio4x3 #PickListSeparator2,
.AspectRatio4x3 #PickListSeparator3
{
	width: 300px;
	height: 2px;
	opacity: 0.2;
	horizontal-align: middle;
}

#PickListSeparator1 {
	
	background-color: red;
}

#PickListSeparator2 {
	background-color: green;
}

#PickListSeparator3 {
	background-color: dodgerblue;
}

/* Hero details panel
=================================================================*/
#HeroDetailsPanel {
	vertical-align: middle;
	horizontal-align: middle;
	flow-children: down;
	width: 33%;
}

#WelcomePanel {
	vertical-align: middle;
	horizontal-align: middle;
	flow-children: down;
	margin-top: 3%;
	animation-name: fade;
	animation-duration: 5.0s;
	animation-timing-function: ease-out;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

#WelcomeText {
	vertical-align: middle;
	horizontal-align: middle;
	font-size: 40px;
	font-family: "Radiance";
	color: #CE6722;
}

.AspectRatio4x3 #HeroDetailsPanel {
	vertical-align: middle;
	horizontal-align: middle;
	flow-children: down;
	width: 40%;
}

#PickedHeroPanel {
	flow-children: right;
}

#PickedHeroName {
	horizontal-align: middle;
	text-align: left;
	font-size: 32px;
	font-family: "Radiance";
	color: #ffffff;
}

/*
	128x72 landscape default size
*/
#PickedHeroImage {
	horizontal-align: center;
	width: 155px;
	height: 92px;
	border-radius: 20px;
}

#HeroAbilitiesParentPanel {
	height: 100%;
	width: fill-parent-flow(1);
	flow-children: right;
	padding: 10px 0px 10px 10px;
	visibility: collapse;
}

#HeroAbilitiesParentPanel.four_abilities .PickedHeroAbility{
	width : fill-parent-flow( 0.24 );
}

#HeroAbilitiesParentPanel.five_abilities .PickedHeroAbility{
	width : fill-parent-flow( 0.19 );
}

#HeroAbilitiesParentPanel.six_abilities .PickedHeroAbility{
	width : fill-parent-flow( 0.15 );
}

.PickedHeroAbility {
	height: width-percentage(98%);
	margin-left: 1px;
	margin-right: 1px;
	border-radius: 10px;
	vertical-align: middle;
}

/* 'Pick random hero' button
=================================================================*/
#RandomButtonContainer,
#RandomImbaButtonContainer
{
	margin-top: 0%;
	margin-left: 2%;
	width: fit-children;
	height: fit-children;
	flow-children: down;
	horizontal-align: center;
}

#RandomPickBtn,
#RandomImbaPickBtn
{
	width: 128px;
	height: 72px;
	border-radius: 4px;
	horizontal-align: center;
	vertical-align: middle;
	saturation: 0.7;
	background-color: gradient(linear, 0% 0%, 0% 100%, from(grey), to (black));
	background-image: url("file://{images}/custom_game/random_button.png");
}

#RandomPickBtn:hover,
#RandomImbaPickBtn:hover
{
	box-shadow: fill #FF7800FF -2px -2px 4px 4px;
	saturation: 1.0;
}

#RandomPickBtnTxt,
#RandomImbaPickBtnTxt
{
	horizontal-align: center;
	vertical-align: bottom;
	color: #FFFFFF;
	font-size: 22px;
	font-family: "Radiance";
}

/* 'Confirm pick' button
=================================================================*/
#PickHeroBtn {
	margin-top: 5px;
	margin-left: 100px;
	margin-right: 100px;
	box-shadow: fill #00000066 -4px -4px 8px 8px;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #5AA15E ), to( #87d69533 ) );
	background-image: url("s2r://panorama/images/backgrounds/background_play_button_large_2x_png.vtex");
	background-size: 320px 120px;
	height: 70px;
	width: 100%;
	horizontal-align: middle;
	border-radius: 2px;
	visibility: collapse;
}

#PickHeroBtn:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #6FDE75 ), to( #87d69533 ) );
}
#PickHeroBtn.disabled, #PickHeroBtn.disabled:Hover {
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #9C9C9C ), to( #D1D1D133 ) );
}

#PickHeroBtn Label {
	vertical-align: middle;
	horizontal-align: center;
	color: #FFFFFF;
	font-size: 32px;
	font-family: "Radiance";
	margin-top: 2px;
}

/* COOKIES: Custom Chat, all credits to Mahou Shoujo (CIA Creator)
===============================================================*/
#HeroSelectionChat
{
	margin-left: -127%;
	margin-bottom: 7%;
	align: center bottom;
	width: 23%;
	height: 20.5%;
//	background-color: #000000da;
}

.AspectRatio4x3 #HeroSelectionChat
{
	width: 20%;
	height: 18%;
}