.Server_Part_Select_Panel
{
	height: 700px;
	width: 380px;
	background-color: black;
	horizontal-align: left;
	vertical-align: top;
	margin-left: 0px;
	margin-top: 70px;
	
	overflow: squish scroll;
	overflow: squish squish;
	
}

.ThroneImage
{
	height: 100%;
	width: 100%;
	overflow: squish scroll; 
	flow-children: down;    
}

#Heroes03
{
	horizontal-align: center;
	vertical-align: top;
	font-size: 80;
	margin-top: 80px;
}

#select_button
{
	tooltip-position: bottom;
	background-repeat: no-repeat;
	height:30px;
	width:30px;
	
	margin-left: 8px;


	horizontal-align: center;
	vertical-align: center;
	background-position: center;
	opacity: 0.5;
	wash-color: #CDF;
	
	transition-property: opacity;
	transition-duration: 0.2s;
	
	/*background-color: blue;*/
	
	background-image: url("s2r://panorama/images/control_icons/dota_logo_white_png.vtex");
    background-size: 26px;
}


	.demon_shop_master
{
    width: 100%;
    height: 100%;
    overflow: clip;
}

#demon_button
{
  horizontal-align: right;
  vertical-align: top;
	margin-right: 300px;
  margin-top: 50px;
	width: 150px;
    height: 75px;
 }
 #button_shop
 #hide_shop
  {
  width: 150px;
    height: 75px;
 }
 #core_image
 {
  horizontal-align: right;
  vertical-align: top;
	width: 40px;
    height: 40px;
 }
#demon_shop
  {
   vertical-align: bottom;
   margin-bottom: 300px;
	margin-left: 1px;
	height: 500px;
 }
 #demon_shop_BG
  {
	height: 500px;
 }
  #item1
 {
	vertical-align: top;
	margin-top: 10px;
	margin-left: 10px;
	height: 128px;
	width: 256px;
}
 #item2
 {
	vertical-align: top;
	margin-left: 10px;
	margin-top: 74px;
	height: 64px;
	width: 84px;
}
 #item3
 {
	vertical-align: top;
	margin-left: 10px;
	margin-top: 148px;
	height: 64px;
	width: 84px;
}
 #item4
 {
	vertical-align: top;
	margin-left: 10px;
	margin-top: 218px;
	height: 64px;
	width: 124px;
}
 #item5
 {
	vertical-align: top;
	margin-left: 10px;
	margin-top: 288px;
	height: 64px;
	width: 124px;
}