.HeroSelectOverlayRoot
{
//visibility: collapse;
	width: 100%;
	height: 100%;
	background-color: black;
    margin-top: 0px;
}

#HeroSelectTeamsContainer
{
    width: 100%;
    height: 100%;
}

.HeroSelectOverlayTimer
{
	horizontal-align: center;
}

#Timer
{
	margin-top: 8px;
    font-size: 48px;
    color: #CCCCCC;
	horizontal-align: center;
}

#TimerBg
{
	wash-color: #222222;
}

#TimerBg,
#TimerRing
{
	width: 70px;
	height: 70px;
	margin-top: 2px;
	horizontal-align: center;
}

.HeroSelectTeamRoot
{
	width: 50%;
	height: 100%;
}

#team_2.HeroSelectTeamRoot
{
    background-color: gradient( linear, 75% 0%, 100% 0%, from( black ), to( #002200 ) );
	horizontal-align: left;
	vertical-align: center;
}

#team_3.HeroSelectTeamRoot
{
    background-color: gradient( linear, 25% 0%, 0% 0%, from( black ), to( #440000 ) );
	horizontal-align: right;
	vertical-align: center;
}

#PlayersContainer
{
	vertical-align: center;
	flow-children: down;
	width: 100%;
}

.HeroSelectPlayerRoot
{
    flow-children: right;
	margin-left: 16px;
	margin-right: 16px;
}

#team_2 .HeroSelectPlayerRoot
{
	horizontal-align: right;
}

#team_3 .HeroSelectPlayerRoot
{
	horizontal-align: left;
}

#TeamHeader
{
    width: 100%;
	height: 48px;
}

#TeamHeaderAndPlayers
{
	vertical-align: center;
    flow-children: down;
	width: 100%;
}

#TeamHeaderLogoName
{
	width: 100%;
	flow-children: down;
}

#TeamLogo
{
	vertical-align: top;
	margin-top: 2px;
	horizontal-align: center;
}

#PlayerPortraitBG
{
	box-shadow: -3px -3px 12px 6px black;
    background-color: #444444;
    width: 128px;
    height: 72px;
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 8px;
	margin-bottom: 8px;
}

#PlayerPortrait
{
	width: 100%;
	height: 100%;
	opacity: 0;
	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}

.hero_selected #PlayerPortrait
{
	opacity: 1;
}

.PlayerName
{
    color: #a9aaaa;
	white-space: nowrap;

    font-size: 24px;
	visibility: collapse;
	vertical-align: center;
}

.HeroName
{
    color: white;
	white-space: nowrap;

    font-size: 32px;
	visibility: collapse;
	vertical-align: center;
	opacity: 0;
	transition-property: opacity, transform;
	transition-duration: 0.2s;
	transition-timing-function: linear;
	transform: translatey( -10px );
}

.hero_selected .HeroName
{
	opacity: 1;
	transform: translatex( 0px );
}

#team_2 #PlayerName_Pre
{
	visibility: visible;
	margin-left: 160px;
	width: fill-parent-flow(1);
}

#team_2 #HeroName_Pre
{
	visibility: visible;
}

#team_3 #PlayerName_Post
{
	margin-right: 160px;
	visibility: visible;
}

#team_3 #HeroName_Post
{
	width: fill-parent-flow(1);
	visibility: visible;
}