
.IMBA_Talent_Window
{
    horizontal-align: left;
    vertical-align: top;
    margin-top: 55px;
    width: 590px;
    height: 775px;
    flow-children: down;
    background-image: url("s2r://panorama/images/backgrounds/dashboard_background_png.vtex"); 

    transform: translatex( -590px );
    transition-property: transform;
    transition-duration: 0.1s;
    padding: 10px;
}

.IMBA_Talent_Window > Label
{
    font-family: "RadianceM";
    color: #d9b284;
    text-shadow: 0px 0px 8px #906127;
    width : 100%;
    text-align: center;
    padding-left: 60px;
}

.IMBA_Talent_Window > Label.header
{
    font-size : 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.IMBA_Talent_Window > Label.footer
{
    margin-top: 8px;
    font-size : 18px;
}

.IMBA_Talent_Window.show_talent_window,
.IMBA_Talent_Window.preview
{
    transform: translatey( 0px );
}

.IMBA_Talent_Row
{
    flow-children: right;
    width : 100%;
    height : 80px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    text-align: left;
}

.IMBA_Talent_Row.six_choices
{
    height : 70px;
}

.IMBA_Talent_Row.two_choices
{
    height : 80px;
}

.IMBA_Talent_Level_Container
{
    height: 50px;
    width: 50px;
	border-radius: 30px;
    vertical-align: middle;
    border: 3px solid #906127;
	border-radius: 30px;
    background-color: #0f161e;
}

#IMBA_Talent_Level
{
    font-family: "RadianceM";
    color: #d9b284;
    text-shadow: 0px 0px 8px #906127;
    font-size: 20px;
    vertical-align: middle;
    text-align: center;
    margin-top: 3px;
    width: 100%;
}

#IMBA_Talent_Specials_Row
{
    margin-left: 10px;
    flow-children: right;
    height : 100%;
    width : 100%;
    text-align: center;
}

.IMBA_Talent_Choice
{
    height : 100%;
}

.IMBA_Talent_Choice.six_choices
{
    width: 70px;
    margin-left: 10px;
}

.IMBA_Talent_Choice.two_choices
{
    margin-left: 10px;
    width: 230px;
}

.IMBA_Talent_Choice_Text_Container
{
    height: 100%;
    width: 100%;
    background-color: #000000ee;
    visibility: collapse;
}

.IMBA_Talent_Choice:hover .IMBA_Talent_Choice_Text_Container,
.IMBA_Talent_Window.show_all_text .IMBA_Talent_Choice_Text_Container
{
    visibility: visible;
}

#IMBA_Talent_Choice_Text
{
    color : white;
    font-size: 12px;
    text-align: center;
    width: 100%;
    white-space: normal;
    padding: 5px;
    vertical-align: middle;
    white-space: normal;
}

#IMBA_Talent_Choice_Image_Container
{
    width: 100%;
    height: 100%;
}

.IMBA_Talent_Choice .IMBA_Talent_Choice_Glow,
.IMBA_Talent_Choice .IMBA_Talent_Choice_Overlay
{
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
}

@keyframes 'glowinganimation'
{
    0%
    {
        opacity : 1;
    }
    100%
    {
        opacity: 0.05;
    }
}

.IMBA_Talent_Choice .IMBA_Talent_Choice_Glow
{
    width: 100%;
    height: 100%;
    border-width: 2px;
    border-style: solid;
    animation-name: glowinganimation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    border-color: #FFD700;
    visibility: collapse;
}

.IMBA_Talent_Choice.selectable .IMBA_Talent_Choice_Glow
{
    visibility: visible;
}

.IMBA_Talent_Choice.selectable:hover .IMBA_Talent_Choice_Glow
{
    border-color: white;
    visibility: visible;
}

.IMBA_Talent_Choice.upgraded .IMBA_Talent_Choice_Overlay
{
    border-color: yellow;
}

.IMBA_Talent_Choice.disabled .IMBA_Talent_Choice_Overlay
{
    background-color: #000000fa;
}

.IMBA_Talent_Choice .IMBA_Talent_Choice_Glow,
.IMBA_Talent_Choice_Overlay,
.IMBA_Talent_Choice_Text_Container,
#IMBA_Talent_Choice_Image_Container
{
    border-radius: 10px;
}

/*
    128x72 landscape default size
    80px will be the height for IMBA_Talent_Choice_Image_Container
    143px = 128 * (80/72)
*/
#IMBA_Talent_Choice_Image_Container DOTAHeroImage
{
    align : center center;
    height : 80px;
    width : 143px;
}

.IMBA_Talent_Choice.disabled .IMBA_Talent_Choice_Text_Container
{
    visibility: collapse;
}

.NonHero .IMBA_Talent_HUD_Panel
{
    visibility: collapse;
}

.IMBA_Talent_HUD_Panel
{
    width : 62px;
    height : 62px;
    vertical-align: bottom;
    margin-right : 3px;
    margin-bottom : 28px;
}

#IMBA_Talent_HUD_Button
{
    width : 100%;
    height : 100%;
    background-image: url("file://{images}/custom_game/imba_talent_btn.png");
    background-size: contain;
    z-index : 3;
}

#IMBA_Talent_HUD_Button_Overlay
{
    width : 100%;
    height : 100%;
    z-index : 4;
}

#IMBA_Talent_HUD_Button_Overlay Panel
{
    width : 100%;
    height : 100%;
    background-size: contain;
}

#IMBA_Talent_HUD_Button_Overlay.selected .Overlay_Select
{
    background-image: url("file://{images}/custom_game/imba_talent_btn_selected.png");
}

#IMBA_Talent_HUD_Button_Overlay.upgrade .Overlay_Upgrade
{
    animation-name: glowinganimation;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
    background-image: url("file://{images}/custom_game/imba_talent_btn_upgrade.png");
}