#PartyArrows
{
    height: 100%;
    width: 100%;
	
	opacity: 1;
	
	transition-property: opacity;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;
}

#PartyArrowImage
{
	width: 50px;
	height: 82px;
}
.PartyArrow
{
	transition-property: opacity;
	transition-duration: .32s;
	transition-timing-function: ease-in-out;
}
.Hidden
{
	opacity: 0;
}


#IconContainer
{
	width: 38px;
	height: 38px;
	margin-top: 38px;
	horizontal-align: center;
//	vertical-align: middle;	

}

#HeroImage
{
	width: 32px;
	height: 32px;
	horizontal-align: center;
	vertical-align: middle;

}

